<% provide(:title, 'Edit Business') %>
<% provide(:htitle, 'Settings') %>
<% provide(:secondaryTitle, '')%>

<div class="container business-settings">
  <div class="row">
    <div class="col-xs-12 col-md-3" style="margin-top:20px;">
       <ul class="nav nav-pills nav-stacked" role="tablist">
          <li role="presentation" class="active"><a href="#info" aria-controls="home" role="tab" data-toggle="tab">Account<span class="glyphicon glyphicon-menu-right pull-right" aria-hidden="true"></span></a></li>
          <li role="presentation"><a href="#schedule" aria-controls="profile" role="tab" data-toggle="tab">Schedule<span class="glyphicon glyphicon-menu-right pull-right" aria-hidden="true"></span></a></li>
          <li role="presentation"><a href="#fields" aria-controls="messages" role="tab" data-toggle="tab">Fields and Prices<span class="glyphicon glyphicon-menu-right pull-right" aria-hidden="true"></span></a></li>
          <li role="presentation"><a href="#billing" aria-controls="billing" role="tab" data-toggle="tab">Billing<span class="glyphicon glyphicon-menu-right pull-right" aria-hidden="true"></span></a></li>
        </ul>
    </div><!-- End col-md-4 -->
    <div class="col-xs-12 col-md-7">
          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="info">
              
                <h3 class="lead"><span class="text-uppercase">Information</span><small><br> Change your basic settings</small></h3>
                <hr>

                <%= form_for(@business, class: "form-horizontal") do |f| %>
                <div class="row">
                  <%= render 'shared/error_messages', object: f.object %> 
                </div>

                <div class="row">
                  <div class="form-group">
                    <div class="col-md-2">
                      <%= f.label :avatar %>
                    </div>
                      <div class="col-md-8">
                        <%= f.file_field :avatar %>
                     </div>
                  </div> 
                </div>  

                  <div class="row">
                    <div class="form-group">
                      <div class="col-md-2">
                        <%= f.label :name, class: "" %>
                      </div>
                      <div class="col-md-8">
                        <%= f.text_field :name, class: 'form-control', placeholder: "Name" %>
                      </div>
                    </div>
                  </div>  

                  <div class="row">
                    <div class="form-group">
                      <div class="col-md-2">
                        <%= f.label :email, class: "" %>
                      </div>
                      <div class="col-md-8">
                        <%= f.email_field :email, class: 'form-control', placeholder: "Email" %>
                      </div>
                    </div>  
                  </div>

                 <div class="row">
                  <div class="form-group">
                    <div class="col-md-2">
                      <%= f.label :phone, class: "" %>
                    </div>
                    <div class="col-md-8">
                      <%= f.text_field :phone, class: 'form-control', placeholder: "Phone" %>
                    </div>
                  </div>
                </div>

                <hr>
                  
                <div class="row">
                 <div class="form-group">
                    <div class="col-md-2">
                      <%= f.label :address, class: "" %>
                    </div>
                    <div class="col-md-8">
                      <%= f.text_field :address, class: 'form-control', placeholder: "Address" %>
                    </div>
                  </div>
                 </div>

                <div class="row">
                   <div class="form-group">
                    <div class="col-md-2">
                      <%= f.label :city, class: "" %>
                    </div>
                    <div class="col-md-8">
                     <%= f.text_field :city, class: 'form-control', placeholder: "City" %>
                    </div>
                  </div>
                </div>

                  <div class="row">
                   <div class="form-group">
                      <div class="col-md-2">
                        <%= f.label :state, class: "" %>
                      </div>
                    <div class="col-md-8">
                       <%= f.text_field :state, class: 'form-control', placeholder: "State" %>
                    </div>
                  </div>
                </div>

                  <div class="row">
                   <div class="form-group">
                     <div class="col-md-2">
                        <%= f.label :zipcode, class: "" %>
                      </div>
                      <div class="col-md-8">
                        <%= f.text_field :zipcode, class: 'form-control', placeholder: "Zip Code" %>
                      </div>
                    </div>
                  </div>

                  <hr>
                  
                  <div class="row">
                   <div class="form-group">
                      <div class="col-md-2">
                        <%= f.label :password, class: "" %>
                      </div>
                      <div class="col-md-8">
                        <%= f.password_field :password, class: 'form-control', placeholder: "Password" %>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="form-group">
                       <div class="col-md-2">
                         <%= f.label :password_confirmation, class: "" %>
                       </div>
                    <div class="col-md-8">
                     <%= f.password_field :password_confirmation, class: 'form-control', placeholder: "Confirm Password" %>
                    </div>
                  </div>
                </div>
                <hr>
                  <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-10">
                      <%= f.submit "Save Changes", class: "btn btn-primary btn-fill btn-round pull-right" %>
                    </div>
                  </div>
                <% end %>                
            </div><!-- end tab info-->
            <div role="tabpanel" class="tab-pane" id="schedule">
              <h3 class="lead"><span class="text-uppercase">Schedule</span><small><br> Change your business hours</small></h3>
              <hr>
               <div class="panel panel-default">
                          <div class="panel-heading">
                            <h3 class="panel-title lead"><i class="fa fa-calendar"></i> Schedule</h3>
                          </div>
                          <div class="panel-body">
                            <table class="schedules">
                              <%= render "/schedules/schedules" %>
                            </table>
                          </div>
                        </div><!-- schedule -->
              <hr>

              <%= form_for(@schedule, class: "form-horizontal") do |f| %>
                  <div class="row">
                    <%= render 'shared/error_messages', object: f.object %> 
                  </div>

                  <div class="row">
                    <div class="form-group">
                        <div class="col-md-2">
                          <%= f.label :day, class: "" %>
                        </div>
                    <div class="col-md-8">
                      <%= f.select(:day, ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'], {include_blank: "Select Day"}, { :class => 'form-control' }) %>
                    </div>
                  </div>
                </div>

                  <div class="row">
                    <div class="form-group">
                      <div class="col-md-2">
                        <%= f.label :open_time, 'Open Time' %>
                      </div>
                      <div class="col-md-8">
                        <div class="col-md-6">
                            <%= f.select :open_time, [
                              ['05:00 AM', '05:00'], ['06:00 AM', '06:00'], ['07:00 AM', '07:00'], ['08:00 AM', '08:00'], ['09:00 AM', '09:00'], ['10:00 AM', '10:00'], ['11:00 AM', '11:00'], ['12:00 PM', '12:00'], ['01:00 PM', '13:00'], ['02:00 PM', '14:00'], ['03:00 PM', '15:00'], ['04:00 PM', '16:00'], ['05:00 PM', '17:00'], ['06:00 PM', '18:00'], ['07:00 PM', '19:00'], ['08:00 PM', '20:00']
                              ], 
                            {prompt: "Select"}, { class: 'form-control'} %> 
                        </div>
                      </div>
                    </div>   
                  </div>

                  <div class="row">
                    <div class="form-group">
                      <div class="col-md-2">
                        <%= f.label :close_time, 'Close Time' %>
                      </div>
                      <div class="col-md-8">
                        <div class="col-md-6">
                            <%= f.select :close_time, [
                            ['12:00 PM', '12:00'], ['01:00 PM', '13:00'], ['02:00 PM', '14:00'], ['03:00 PM', '15:00'], ['04:00 PM', '16:00'], ['05:00 PM', '17:00'], ['06:00 PM', '18:00'], ['07:00 PM', '19:00'], ['08:00 PM', '20:00'], ['09:00 PM', '21:00'], ['10:00 PM', '22:00'], ['11:00 PM', '23:00']
                            ], 
                          {prompt: "Select"}, { class: 'form-control'} %>  
                        </div>
                      </div>
                    </div>   
                  </div>

                  <hr>

                  <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-10">
                      <%= f.submit "Add New Day", class: "btn btn-primary btn-round btn-fill pull-right" %>
                    </div>
                  </div>
                <% end %>
            </div><!-- end schedule tab-->

            <div role="tabpanel" class="tab-pane" id="fields">
              <h3 class="lead"><span class="text-uppercase">Fields</span><small> <br>Add or Remove type of Fields and their prices</small></h3>
              <hr>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title lead"><i class="fa fa-soccer-ball-o"></i> Fields</h3>
              </div>
              <div class="panel-body">
                <table class="table">
                   <%= render '/fields/fields' %>  
                </table>
               
              </div>
            </div><!-- end info -->
                

              <hr>
              <%= form_for(@field, class: "form-horizontal") do |f| %>
                  <div class="row">
                    <%= render 'shared/error_messages', object: f.object %> 
                  </div> 

                 <div class="row">
                   <div class="form-group">
                      <div class="col-md-2">
                          <%= f.label :number_players, class: "" %>
                      </div>
                      <div class="col-md-8">
                        <%= f.select :number_players, [['5vs5',10], ['6vs6', 12],['7vs7',14], ['9vs9',18],['11vs11', 22]], {prompt: "Select"}, { class: 'form-control'} %>
                      </div>
                  </div>
                </div>

                  <div class="row">
                      <div class="form-group">
                         <div class="col-md-2">
                           <%= f.label :name, class: "" %>
                         </div>
                      <div class="col-md-8">
                        <%= f.text_field :name, class: 'form-control', placeholder: "Name" %>
                      </div>
                    </div>
                  </div>

                 <div class="row">
                  <div class="form-group">
                    <div class="col-md-2">
                        <%= f.label :description, class: "" %>
                    </div>
                    <div class="col-md-8">
                      <%= f.text_field :description, class: 'form-control', placeholder: "Description" %>
                    </div>
                  </div>
                </div>

                  <div class="row">
                   <div class="form-group">
                    <div class="col-md-2">
                        <%= f.label :price, class: "" %>
                    </div>
                    <div class="col-md-8">
                      <%= f.text_field :price, class: 'form-control', value: number_to_currency(f.object.price.to_f, delimiter: '', unit: ''), step: :any %>
                    </div>
                  </div>
                </div>

                <hr>

                  <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-10">
                      <%= f.submit "Add Field", class: "btn btn-primary btn-fill btn-round pull-right" %>
                    </div>
                  </div>
                <% end %>
            </div><!-- end fields tab -->




            <div role="tabpanel" class="tab-pane" id="billing">
              <h3 class="lead"><span class="text-uppercase">BIlling</span><small> <br>Billing Information</small></h3>
              <hr>
              <% if current_business.subscribed? %>
                  <% if current_business.expires_at?%>
                      <p>Your access expires in <%= distance_of_time_in_words current_business.expires_at - Time.zone.now %></p>
                      <%= link_to "Subscribe", new_subscription_path(plan: "monthly19"), class: "btn btn-primary btn-fill" %>
                      <hr>
                  <% else %>
                      <h4 class="lead">Card On File</h4>
                      <div><strong>Card on File:</strong> <%= current_business.card_brand %> (**** **** **** <%= current_business.card_last4 %>)</div>
                      <div style="margin-bottom: 20px;"><strong>Expiration:</strong> <%= current_business.card_exp_month %> / <%= current_business.card_exp_year %></div>

                      <%= link_to "Update your card", subscription_path, class: "btn btn-primary btn-fill" %>
                      <br>
                      <br>
                      <hr>
                  <% end %>
              <%end%>

              <% if current_business.charges.any? %>
                <h4 class="lead">Charges</h4>

                <table class="table">
                  <thead>
                    <tr>
                      <th>Date</th>
                      <th>Amount</th>
                      <th>Download</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% current_business.charges.each do |charge| %>
                        <tr>
                          <td><%= charge.created_at.to_date %></td>
                          <td><%= number_to_currency charge.amount / 100%></td>
                          <td><%= link_to "Download" , charge_path(charge, format: :pdf) %></td>
                        </tr>
                    <% end %>
                  </tbody>
                </table>
                
              <% end %>
              <% if current_business.subscribed? && !current_business.canceled? %>
              <hr>
                <h4 class="lead">Cancel Subscription</h4>
                <%= link_to "Unsuscribe", subscription_path,method: :delete, data: {confirm: "Are you sure you want to cancel your Subscription?"}, class: "btn btn-danger btn-round" %>
              <% else %>
                <hr>
                <h4 class="lead">Subscribe Again!</h4>
                <%= link_to "Subscribe", new_subscription_path(plan: "monthly19"), class: "btn btn-primary btn-fill" %>
              <% end %>

             
            </div><!-- end billing tab -->

          </div><!-- end tabs -->
    </div><!-- End col-md-8 -->
  </div><!--End row -->  
</div><!-- End container business-->