<% provide(:title, @business.name)%>

<div class="container">
  <div class="row biz-page">
    <div class="col-sm-5 col-md-4 biz-sidebar">
          <div class="card">
              <% if @business.avatar_file_name.nil? %>
                  <%= image_tag("300x200.png", :alt => "rss feed") %>
                <% else %>
                   <%= image_tag @business.avatar.url(:medium)  %>
                <% end %>
            <div class="content">
              <h1><%= @business.name %></h1>
              <p class="btn-profile">
                <%= @business.email %>
                <a href="#" class="btn btn-default btn-round" role="button">Contact</a><br>
                <i class="fa fa-phone"></i> <%= @business.phone %> 
              </p>
            </div>
          </div><!-- end thumbnail -->

          

    </div>
    <div class="col-sm-7 col-md-8 biz-main">
      

      <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist" style="margin-bottom: 20px;">
          <li role="presentation" class="active"><a href="#info" aria-controls="info" role="tab" data-toggle="tab">Info</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="info">
  
              
            <div class="row">  
              <div class="col-md-6">
                  <div class="card avai">
                      <h4>Availability</h4>
                      <hr>
                      <div class="content">
                        <div>
                          <input type="" name="">
                          <input type="" name="">
                          <button class="btn btn-fill btn-primary">Search</button>  
                        </div>
                        <div class="btn-times">
                          <a href="" class="btn btn-fill btn-primary">11:00</a>
                          <a href="" class="btn btn-fill btn-primary">11:00</a>
                          <a href="" class="btn btn-fill btn-primary">11:00</a>
                          <a href="" class="btn btn-fill btn-primary">11:00</a>
                          <a href="" class="btn btn-fill btn-primary">11:00</a>
                          <a href="" class="btn btn-fill btn-primary">11:00</a>
                          <a href="" class="btn btn-fill btn-primary">11:00</a>
                          <a href="" class="btn btn-fill btn-primary">11:00</a>  
                        </div>
                        
                      </div>
                  </div>
              </div>    

              <div class="col-md-6">
                  <div class="card location">
                    <h4>Location</h4>
                    <hr>
                    <div class="content">
                      <address>
                          <strong><i class="fa fa-map-marker"></i> <%= @business.name %></strong><br>
                         <%= @business.address %><br>
                          <%= @business.city %>, <%= @business.state %> <%= @business.zipcode %>
                      </address>
                    </div>
                  </div><!-- Location -->

                  <div class="card sch">
                    <h4>Schedule</h4>
                    <hr>
                    <div class="content">
                      <table class="schedules">
                        <%= render @business.schedules.all %>
                      </table>
                    </div>
                  </div><!-- schedule -->

                  <div class="card fld">
                    <h4>Fields</h4>
                    <hr>
                    <div class="content">
                      <table>
                      <%= render @business.fields.all %>
                      </table>
                    </div>
                  </div><!-- end fields-->
              </div>

            </div><!-- end row-->

          </div><!-- end tab info-->

          
        </div>
    </div>

  </div>  
</div>

