<% provide(:include_menu, 'false') %>

<% if @coming_soon %>


	<div class="cmg-soon" style="background-image: url(&quot;https://s3-us-east-2.amazonaws.com/futfinder.com/soccer-game.png&quot;); background-position: center center; background-size: cover; margin-top: -50px; min-height: 100%; width:100%; height: auto; position: fixed;">
		<header class="navbar">
		  <div class="container-fluid">
		      <div class="navbar-header">
		          <%= link_to root_path, :id => "logo" do %>
		             <span style="font-size: 1.0em;"><i class="fa fa-soccer-ball-o"></i></span> FutFinder  
		          <% end %>
		      </div><!-- end div navbar-header -->           
		      
		    </div><!-- End div container fluid -->
		</header>

		<div class="container">
			<div class="row" style="">
				<div class="col-md-6 col-md-offset-3">
					<h2 class="lead" style="color:white; font-weight: 600; font-size: 3.5rem;">Plan your games <span class="hghlight">easier</span></h2>
					<p class="" style="">
						⚽ We want to make your soccer games happen. </p>
						<p style="">🗓 Plan, find, book, and pay, all in one place.</p>

						<p>🚀Be the first to know about our launching date.  </p>

						<br>
						<p>
						<strong style="margin-top: 10px;">FUTFINDER <span class="hghlight">Team</span></strong>
					</p>
					<div class="container" style="margin-bottom: 10px;">
					<% if params[:message] %>
						<% if params[:message_type] == "success" %>     
						 
						   
						     <span style="color:white; background-color: green; padding: 5px;"><%= params[:message] %></span>
						 <% else %>
						 	<span style="color:white; background-color: red; padding: 5px;"><%= params[:message] %></span>
						 <% end %>
					<% end %>
					</div>
					<%= form_tag(saving_email_path, :method => "post") do %>

						<%= text_field_tag :email, params[:email], placeholder: "Email" , class: 'form-control' %>
						<%= submit_tag "Save Email", class: "btn btn-primary btn-fill pull-right" %> 
					<% end %>


				</div>
			</div>
		</div>
	</div>	
<% end %>