<% provide(:title, "Business Log in") %>

<div class="container login-page">
  <div class="row">
    <div class="col-md-offset-4 col-md-4" style="margin-top:6%; ">
      <h1 id="logo-black"><i class="fa fa-soccer-ball-o"></i> FUTFINDER</h1>
      <div class="card">
        <div style="">
          <%= form_for(:session, url: login_path) do |f| %>
            <p>Welcome!</p>
            <hr>
            <%= f.email_field :email, placeholder: "Email", class: 'form-control' %>

            <%= f.password_field :password, placeholder: "Password", class: 'form-control' %>

            <%= f.label :remember_me, class: "" do %>
              <%= f.check_box :remember_me %>
              <span>Remember me</span>
            <% end %>
            <br>

            <%= f.submit "Log in", class: "btn btn-primary btn-fill btn-round" %>
          <% end %> 
        </div>
      </div>
      <p>New user? <%= link_to "Sign up now!", u_signup_path %></p>
    </div>
  </div>
</div>