
<div class="row" style="margin-bottom: 20px;">
	<h2 class="lead"> Comments <span class="badge pull-left" style="margin-right:5px;"><%= commentable.comments.count %></span></h2>

	<%= form_for [commentable, Comment.new] do |f| %>
	    <div class="form-group">
	        <%= f.text_area :body, cols: "30", rows: "20", class: "form-control text-area", placeholder: "Add a comment" %>
	    </div>
	    <%= f.submit class: "btn btn-primary btn-fill btn-round pull-right" %> 
	<% end %> 
</div>
<div class="row"> 
		<% if commentable.comments.count == 0 %>
			<span class="lead">No comments</span>
		<% end %>
		<% commentable.comments.reverse.each do |comment| %>
					<div class="media">
				          <a class="pull-left" href="#">
				           <div class="avatar">
				                
				                	<% if !user_has_avatar?(comment.user_id) %>
				                    	<%= image_tag("64x64.png", :alt => "rss feed", class: "media-object img-circle") %>
				                    <% else %>
				                   		 <%= image_tag get_user_from_comment(comment.user_id).avatar.url(:thumb), class: "media-object img-circle comments-img" %>
				                    <% end %>
				           </div>
				          </a>
				          <div class="media-body">
				            <h4 class="media-heading"><%= link_to get_user_name_for_comment(comment.user_id), user_path(get_user_from_comment(comment.user_id)) %></h4>
				            

				            <p> <%= comment.body %></p>

				            <div class="media-footer">
				               <h6 class="pull-right text-muted"><%= comment.created_at.strftime(("On %B %d at %I:%M %p")) %></h6>
				            </div>
				          </div>
				    </div>
				    
		<% end %>
</div>


	


  
