<% provide(:title, 'Available Fields') %>
<div class="container ngf ngf2" style="margin-top: 40px;">
	<div class="col-md-10 col-md-offset-1">
		<div class="card">
			<div class="header">
				<h4>Find a field for your game
					<div class="pull-right" style="margin-right:30px;">
						<small>Step 2</small>
					  <span class="step finish"></span>
					  <span class="step active"></span>
					  <% if current_user.card_last4.nil? %>
					    <span class="step"></span>
					  <% end %>
					  <span class="step"></span>
					</div>
				</h4>		
			</div>
			<div class="content">
				<div class="row">
					<nav class="navbar select-field-nav" style="margin-top: 20px;">
						<div class="container-fluid">
					    	<%= form_tag(available_fields_path, :method => "get", class: "") do %>
					    		<div class="col-md-5 col-md-offset-1 col-sm-3 col-xs-12">
					    			<%= label_tag :date%>
					    			<div class="input-group">
					    			  <span class="input-group-addon" id="basic-addon1"><i class="fa fa-calendar"></i></span>
					    			  <%= text_field_tag :date, params[:date], data:{ provide:'datepicker', 'date-format' => 'dd-mm-yyyy', 'date-autoclose' => 'true' }, placeholder: "DD-MM-YYYY", class: "form-control" %>
					    			</div>
					    		</div>
					    		<div class="col-md-4 col-sm-3 col-xs-12">
					    			<%= label_tag :duration %>
					    			<div class="input-group">
					    			  <span class="input-group-addon" id="basic-addon1"><i class="fa fa-clock-o"></i></span>
					    			  <%= select_tag :duration, 
				    			  				options_for_select([
	    			  									['1 Hour', '1'],
	    			  									['1 Hour 30 Min', '1.5'],
	    			  									['2 Hour', '2'],
	    			  									['2 Hour 30 Min', '2.5'],
	    			  									['3 Hour', '3'],
	    			  									['3 Hour 30 Min', '3.5']
    			  									], 
			    			  						params[:duration]),  class: "form-control" %>
					    			</div>
					    		</div>
					    		<div class=" col-md-offset-1 col-md-8 col-sm-12 col-xs-12" style="margin-top: 20px">
					    			
					    			<div class="col-md-2"><%= label_tag :time %></div>
					    			<div class="col-md-3"><%= select_tag :hour, 
				    			  				options_for_select((1..12), 
			    			  						params[:hour]),  class: "form-control" %></div>
					    			<div class="col-md-3">
					    				<%= select_tag :minute, 
				    			  				options_for_select([
	    			  									['00', '00'],
	    			  									['30', '30'],
    			  									], 
			    			  						params[:duration]),  class: "form-control" %>
					    			</div>
					    			<div class="col-md-3"><%= select_tag :ampm, 
				    			  				options_for_select(['AM','PM'], 
			    			  						params[:ampm]),  class: "form-control" %></div>
					    			<!-- <div class="input-group">
					    			  <span class="input-group-addon" id="basic-addon1"><i class="fa fa-clock-o"></i></span>						  						
					    			</div> -->
					    		</div>
					    		
					    		<%= hidden_field_tag :game, params[:game] %>

					    		<div class="col-md-3 col-sm-2">
					    			<%= submit_tag "Search", class: "btn btn-primary btn-fill btn-srch" %>
					    		</div>
					    			
					    	<% end %>
					    	<!-- cus-->
						</div>
					</nav>
				</div>


				<div class="row">
					<% if @businesses.present? %>
					<p class="srch-msg"> 
						Showing results for "<%= params[:date]%>, <%= params[:time] %> and <%= params[:duration]%> hours"
					</p>
					<table class="table table-hover table-responsive">
						<thead>
							<th>Location</th>
							<th></th>
							<th>Select</th>
						</thead>
						<tbody class="">

					 		<% @businesses.each do |key, business| %>
						 		<tr>
						 			<td>
						 				<% if business[0].avatar_file_name.nil? %>
						 				    <%= image_tag("300x200.png", :alt => "rss feed") %>
						 				  <% else %>
						 				     <%= image_tag business[0].avatar.url(:medium)  %>
						 				  <% end %>
						 			</td>
						 			<td >
						 				<%= link_to business[0].name, business[0] %><br>
						 				Field: <%= business[1].name %>, Price: <%= business[1].price %><br>
						 				<i class="fa fa-map-marker"></i> <%= business[0].city %>, <%= business[0].state %>
						 			</td>
						 			<td>
					 					<%if !business[2].nil? %>
					 						<% if current_user.card_last4.nil? %>
					 							<%= link_to new_payment_method_path(game: business[2],business: business[0].id, date: params[:date], time: business[4], duration: business[3], field: business[1].id), class: "select" do %>
					 								<i class="fa fa-chevron-circle-right"></i>
					 							<% end %>
					 						<%else%>
					 							<%= link_to confirmation_path(game: business[2] , business: business[0].id, date: params[:date], time: business[4], duration: business[3], field: business[1].id), class: "select" do %>
					 								<i class="fa fa-chevron-circle-right"></i>
					 							<% end %> 
					 						<% end %>
					 				    <% end %>
						 			</td>
						 		</tr>       		
					 		<% end %>
				 		</tbody>
				 	</table>
					<% else %>
					  <p class="srch-msg"> <%= @message %></p>
					<% end %>
					<hr>
					<div class="card-btns">
						<%= link_to 'Cancel', game_path(params[:game]), class: "btn btn-defautl" %> 
						<%= link_to "Choose later", games_path, class: "pull-right" %>
					</div>
				</div>
			</div><!-- end content -->
		</div><!-- end card -->
	</div>
</div>