<% provide(:title, 'Game') %>
<%= render "/games/shared/game_header"%>  

    <ul class="nav nav-tabs game-sd-tabs" style="padding-left: 14%">
           <li class=""><%= link_to 'Info', game_path(@game) %></li>
          <li class="active"><a href="">Players</a></li>
          <li class=""><%= link_to 'Comments', conversation_index_path(@game) %></li>
    </ul>


<div class="container players-list">
	<div class="row">
		<div class="col-md-offset-1 col-md-7">
			<h3 class="lead"> Players </h3>

			<% if @game.game_lines.empty? %>
			  <p>There are no players invited yet.</p>
			<% else %>
			  
				<% @game.game_lines.each do |game_line| %>
		            <div style="margin-bottom: 30px;">
		              <% if !user_has_avatar?(game_line.user.id) %>
		              	<%= image_tag("64x64.png", :alt => "rss feed", class: "img-circle") %>
		              <% else %>
		             		 <%= image_tag game_line.user.avatar.url(:thumb), class: "img-circle comments-img" %>
		              <% end %>

	              		<span style="font-size: 1.2em; margin-left: 10px;"><%= link_to game_line.user.first_name, game_line.user %></span>

			              <span class="pull-right" style="padding-top: 7px;"> 
			           		  	<small>
			           		  		<% if is_correct_user_or_business_associated_with_game_line?(game_line) %>
			           		  		
			           			  		<% if game_line.accepted == "Declined" %>	
   				  					  		<div class="btn-group" role="group">
   				  					  		    <button type="button" class="btn btn-danger btn-fill dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   				  					  		      Declined 
   				  					  		      <span class="caret"></span>
   				  					  		    </button>
   				  					  		    <ul class="dropdown-menu">
   				  					  		      <li>
				  		      	  					<%= link_to game_line_path(id: game_line.id, accepted: "Accepted"), method: "put", class: '' do %>
				  		      				  			Accept
				  		      				  		<% end %>
   				  					  		      </li>
   				  					  		      <li>
   				  					  		      	<%= link_to game_line, method: :delete, data: {confirm: "You sure?"}, title: game_line.id do%>
      				           	  						Remove 
      				           	  					<% end %>
   				  					  		      </li>
   				  					  		    </ul>
   				  					  		  </div>

			           				  	<% elsif game_line.accepted == "Accepted"%>
   				  					  		<div class="btn-group" role="group">
   				  					  		    <button type="button" class="btn btn-success btn-fill dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   				  					  		      Accepted
   				  					  		      <span class="caret"></span>
   				  					  		    </button>
   				  					  		    <ul class="dropdown-menu">
   				  					  		      <li>
				  		      	  					<%= link_to game_line_path(id: game_line.id, accepted: "Declined"), method: "put", class: '' do %>
				  		      				  			Decline
				  		      				  		<% end %>
   				  					  		      </li>
  				  					  		      <li>
  				  					  		      	<%= link_to game_line, method: :delete, data: {confirm: "You sure?"}, title: game_line.id do%>
     				           	  						Remove 
     				           	  					<% end %>
  				  					  		      </li>
   				  					  		    </ul>
   				  					  		  </div>
                            <% elsif game_line.accepted == "Requested"%>
                              
                                  <div class="btn-group" role="group">
                                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Requested
                                        <span class="caret"></span>
                                      </button>
                                      <ul class="dropdown-menu">
                                        <% if game_line.user != current_user %>
                                              <li>
                                              <%= link_to game_line_path(id: game_line.id, accepted: "Accepted"), method: "put", class: '' do %>
                                                Accept
                                              <% end %>
                                              </li>
                                              <li>
                                              <%= link_to game_line_path(id: game_line.id, accepted: "Declined"), method: "put", class: '' do %>
                                                Decline
                                              <% end %>
                                              </li>
                                        <% end %>
                                        <li>
                                          <%= link_to game_line, method: :delete, data: {confirm: "You sure?"}, title: game_line.id do%>
                                            Remove 
                                          <% end %>
                                        </li>
                                      </ul>
                                    </div>

			           	  				<% else %>
       				  					  		<div class="btn-group" role="group">
       				  					  		    <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       				  					  		      Pending
       				  					  		      <span class="caret"></span>
       				  					  		    </button>
       				  					  		    <ul class="dropdown-menu">
       				  					  		      <li>
    				  		      	  					<%= link_to game_line_path(id: game_line.id, accepted: "Accepted"), method: "put", class: '' do %>
    				  		      				  			Accept
    				  		      				  		<% end %>
       				  					  		      </li>
       				  					  		      <li>
    				  		      	  					<%= link_to game_line_path(id: game_line.id, accepted: "Declined"), method: "put", class: '' do %>
    				  		      				  			Decline
    				  		      				  		<% end %>
       				  					  		      </li>
      				  					  		      <li>
      				  					  		      	<%= link_to game_line, method: :delete, data: {confirm: "You sure?"}, title: game_line.id do%>
         				           	  						Remove 
         				           	  					<% end %>
      				  					  		      </li>
       				  					  		    </ul>
       				  					  		  </div>

			           	  				<% end %>	

			             			<%else%>
                          <div class="btn-group">
                            <% if game_line.accepted == "Declined" %>
                                <button class="btn btn-danger btn-fill">Declined <i class="fa fa-times"></i></button>
                            <% elsif game_line.accepted == "Accepted" %>
                                <button class="btn btn-success btn-fill">Accepted <i class="fa fa-check"></i></button>
                            <% elsif game_line.accepted == "Pending" %>
                              <button class="btn btn-warning">Pending <i class="fa fa-clock-o"></i></button>
                            <% elsif game_line.accepted == "Requested" %>
                                <button class="btn btn-default">Requested <i class="fa fa-circle-o"></i></button>
                            <%end%>
                          </div>    
                        <% end %>
			             		</small>   
			              </span>
		            </div>
	        	<% end %>
			<% end %>  	  
		</div>
		<div class="col-md-3" style="background: #fafafa; margin-left: 20px;">
			<% if signed_in? && @game.is_player_involved?(current_user) && @game.invite_allowed == true %>
			    <%= render '/game_lines/new_game_line' %>
      <% elsif logged_in? || @game.user == current_user %>
          <%= render '/game_lines/new_game_line' %>
			<% elsif  signed_in? && !@game.is_player_involved?(current_user)%>
			    <%= render '/game_lines/add_yourself' %>
			<% end %>
		</div>
	</div>
</div>



			  	
	  		




