<% provide(:title, 'Players') %>
<div class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-sm-8 col-xs-12">
        <h1>
          <%= @game.title%>
          <small><%= @game.id%></small>
        </h1>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-12">
          <% if correct_business_or_user_to_edit_page %>
                <%= link_to edit_game_path(@game.id), class: "btn btn-primary btn-fill pull-right" do %>
                    <i class="fa fa-gear"></i> Settings
                  <% end %>
          <% end %>        
      </div>
    </div>
  </div>
</div> 

   

<div class="container game-content">
    <ul class="nav nav-tabs" style="">
            <li><%= link_to 'Info', game_path(@game) %></li>
            <li class="active"><%= link_to 'Players', players_path(@game) %></li>
  </ul>
  <div class="row">
    <div class="col-md-7 col-sm-7 games-comments">

      <div class="players-list">
            <h3 class="lead"> Players </h3>

            <% if @game.game_lines.empty? %>
              <p>There are no players invited yet.</p>
            <% else %>
              
              <% @game.game_lines.each do |game_line| %>
                      <div style="margin-bottom: 30px;">
                        <% if !user_has_avatar?(game_line.user.id) %>
                          <%= image_tag("64x64.png", :alt => "rss feed", class: "img-circle") %>
                        <% else %>
                           <%= image_tag game_line.user.avatar.url(:thumb), class: "img-circle comments-img" %>
                        <% end %>

                          <span style="font-size: 1.2em; margin-left: 10px;"><%= link_to game_line.user.first_name, game_line.user %></span>

                          <span class="pull-right" style="padding-top: 7px;"> 
                              <small>
                                <% if is_correct_user_or_business_associated_with_game_line?(game_line) %>
                                
                                  <% if game_line.accepted == "Declined" %> 
                                  <div class="btn-group" role="group">
                                      <button type="button" class="btn btn-danger btn-fill dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Declined 
                                        <span class="caret"></span>
                                      </button>
                                      <ul class="dropdown-menu">
                                        <li>
                                            <% if @game.reservation && @game.user != current_user %>
                                              <% if current_user == game_line.user && !current_user.card_last4 %>
                                                  <%= link_to new_payment_method_path(gl: game_line) do %>
                                                    Accept
                                                  <% end %>
                                              <% else %>
                                                    <%= link_to confirmation_path(game_line: game_line.id) do %>
                                                      Accept
                                                    <% end %>
                                              <% end %>
                                          <% end %>  
                                        </li>
                                        <li>
                                          <%= link_to game_line, method: :delete, data: {confirm: "You sure?"}, title: game_line.id do%>
                                              Remove 
                                            <% end %>
                                        </li>
                                      </ul>
                                    </div>

                                  <% elsif game_line.accepted == "Accepted"%>
                                  <div class="btn-group" role="group">
                                      <button type="button" class="btn btn-success btn-fill dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Accepted
                                        <span class="caret"></span>
                                      </button>
                                      <ul class="dropdown-menu">
                                        <li>
                                        <%= link_to game_line_path(id: game_line.id, accepted: "Declined"), method: "put", class: '' do %>
                                          Decline
                                        <% end %>
                                        </li>
                                        <li>
                                          <%= link_to game_line, method: :delete, data: {confirm: "You sure?"}, title: game_line.id do%>
                                            Remove 
                                          <% end %>
                                        </li>
                                      </ul>
                                    </div>
                                  <% elsif game_line.accepted == "Requested"%>
                                    
                                        <div class="btn-group" role="group">
                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                              Requested
                                              <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                              <% if game_line.user != current_user %>
                                                    <li>
                                                    <%= link_to game_line_path(id: game_line.id, accepted: "Approved"), method: "put", class: '' do %>
                                                      Approve
                                                    <% end %>
                                                    </li>
                                                    <li>
                                                    <%= link_to game_line_path(id: game_line.id, accepted: "Declined"), method: "put", class: '' do %>
                                                      Decline
                                                    <% end %>
                                                    </li>
                                              <% end %>
                                              <li>
                                                <%= link_to game_line, method: :delete, data: {confirm: "You sure?"}, title: game_line.id do%>
                                                  Remove 
                                                <% end %>
                                              </li>
                                            </ul>
                                          </div>

                                  <% elsif game_line.accepted == "Approved"%>
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                          Pending
                                          <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                          <li>
                                                <% if @game.reservation && @game.user != current_user %>
                                                  <% if current_user == game_line.user && !current_user.card_last4 %>
                                                      <%= link_to new_payment_method_path(gl: game_line) do %>
                                                        Accept
                                                      <% end %>
                                                  <% else %>
                                                        <%= link_to confirmation_path(game_line: game_line.id) do %>
                                                          Accept
                                                        <% end %>
                                                  <% end %>
                                              <% end %>  
                                            </li>
                                            <li>
                                            <%= link_to game_line_path(id: game_line.id, accepted: "Declined"), method: "put", class: '' do %>
                                              Decline
                                            <% end %>
                                            </li>
                                          <li>
                                            <%= link_to game_line, method: :delete, data: {confirm: "You sure?"}, title: game_line.id do%>
                                              Remove 
                                            <% end %>
                                          </li>
                                        </ul>
                                      </div>

                                  <% else %>
                                      <div class="btn-group" role="group">
                                          <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Pending
                                            <span class="caret"></span>
                                          </button>
                                          <ul class="dropdown-menu">
                                            <li>
                                                <% if @game.reservation && @game.user != current_user %>
                                                  <% if current_user == game_line.user && !current_user.card_last4 %>
                                                      <%= link_to new_payment_method_path(gl: game_line) do %>
                                                        Accept
                                                      <% end %>
                                                  <% else %>
                                                        <%= link_to confirmation_path(game_line: game_line.id) do %>
                                                          Accept
                                                        <% end %>
                                                  <% end %>
                                              <% end %>  
                                            </li>
                                            <li>
                                            <%= link_to game_line_path(id: game_line.id, accepted: "Declined"), method: "put", class: '' do %>
                                              Decline
                                            <% end %>
                                            </li>
                                            <li>
                                              <%= link_to game_line, method: :delete, data: {confirm: "You sure?"}, title: game_line.id do%>
                                                Remove 
                                              <% end %>
                                            </li>
                                          </ul>
                                        </div>

                                  <% end %> 

                              <%else%>
                                <div class="btn-group">
                                  <% if game_line.accepted == "Declined" %>
                                      <button class="btn btn-danger btn-fill">Declined <i class="fa fa-times"></i></button>
                                  <% elsif game_line.accepted == "Accepted" %>
                                      <button class="btn btn-success btn-fill">Accepted <i class="fa fa-check"></i></button>
                                  <% elsif game_line.accepted == "Pending" %>
                                    <button class="btn btn-warning">Pending <i class="fa fa-clock-o"></i></button>
                                  <% elsif game_line.accepted == "Requested" %>
                                      <button class="btn btn-default">Requested <i class="fa fa-circle-o"></i></button>
                                  <%end%>
                                </div>    
                              <% end %>
                            </small>   
                          </span>
                      </div>
                  <% end %>
            <% end %>     
          </div>
          <hr>
          <% if is_venue_still_current? %>
              <div class="" style=" margin-bottom: 80px;">
                <% if signed_in? && @game.is_player_involved?(current_user) && @game.invite_allowed == true %>
                    <%= render '/game_lines/new_game_line' %>
                <% elsif logged_in? || @game.user == current_user %>
                    <%= render '/game_lines/new_game_line' %>
                <% elsif  signed_in? && !@game.has_player_request?(current_user)%>
                    <%= render '/game_lines/add_yourself' %>
                <% end %>
              </div>

              <div class="well">
              <p class="lead" style="text-align: center;"> Invite players to FUTFINDER!</p>
              </div>
          <% else %>
              <p>Game invites are closed. Game completed.</p>
          <% end %>

    </div>
    <div class="col-md-4 col-md-offset-1 col-sm-5" style="padding-left: 30px;">


      <%= render '/games/shared/side_bar' %>

        
    </div><!-- col-8 main content-->

  </div><!-- row -->
</div><!-- container -->




			  	
	  		




