<ul class="nav nav-tabs" style=" padding-left: 3%; margin-top: 30px; margin-bottom: 30px;">
			    
    <li class="<%= 'active' if current_page?(controller: '/users', action: 'show')%>"><%= link_to 'Posts', user_path(@user) %></li>
     
   <% if current_user == @user %>
   		<li role="presentation" class="dropdown <%= 'active' if current_page?(controller: '/users/friends', action: 'index') || current_page?(controller: '/users/pending_friends', action: 'index') || current_page?(controller: '/users/requests', action: 'index') %>">
   		     <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
   		       Friends <span class="caret"></span>
   		     </a>
   		     <ul class="dropdown-menu">
   		       <li class="<%= 'active' if current_page?(controller: '/users/friends', action: 'index') %>"><%= link_to "Friends", friends_path(current_user) %></li>
   		       <li class="<%= 'active' if current_page?(controller: '/users/pending_friends', action: 'index') %>"><%= link_to "Pending", pending_friends_path(current_user)%></li>
   		       <li class="<%= 'active' if current_page?(controller: '/users/requests', action: 'index') %>">
   		       	<%= link_to requests_path(current_user) do %>
   		       		Requests <span class="badge"><%= get_number_of_requests %></span>
   		       	<% end %>	
   		       </li>
   		     </ul>
   		</li>
   <% else %>
   		<li class="<%= 'active' if current_page?(controller: '/users/friends', action: 'index') %>"><%= link_to "Friends", friends_path(@user) %></li>
   <% end %>

</ul>
