<div class="card card-user">
    <div class="image">
    	<img src="https://s3-us-east-2.amazonaws.com/futfinder.com/soccer-game.png" alt="...">
    </div>

    <div class="content" style="min-height: 0px;">

        <div class="author">
            	<% if user.avatar_file_name.nil? %>
                	<%= image_tag("300x200.png", :alt => "rss feed", class: "avatar") %>
                <% else %>
               		 <%= image_tag user.avatar.url(:square), class: "avatar" %>
                <% end %>
              <h3 class="title"><%= @user.first_name %> <%= @user.last_name %><br />
                 <small>@<%= @user.slug %></small><br>
                 <!--<small>Goalkeeper</small>-->
              </h3>
            
        </div>

        <!-- <p class="description text-center">
        	 Games Played <span style="color:#337ab7;font-weight:700; padding-right: ;"><%= user.games_played %></span>
        </p> -->

    </div>

</div> <!-- end card -->