<% provide(:title, 'Notifications') %>
<% provide(:htitle, 'My Notifications') %>
<% provide(:secondaryTitle, 'All')%>

<div class="container" style="margin-top:20px;">
	<div class="row">
      <%= render partial: "notifications", locals: {notifications: @notifications} %>
      
    </div>
</div>

<div class="container">
<% @notifications.each do |notification| %>
	N id: <%= notification.id%> |  
	r id: <%= notification.recipientable_id %> |  
	r type: <%= notification.recipientable_type%> |  
	a id: <%= notification.actorable_id%> |  
	a type: <%= notification.actorable_type%> |  
	read <%= notification.read_at%> |  
	action <%= notification.action%> |  
	n id: <%= notification.notifiable_id%> |  
	n type: <%= notification.notifiable_type %>
	<br>
<% end %>


</div>