<% provide(:title, 'All users') %>
<h1>All users</h1>

<div class="row">
  <ul class="nav nav-tabs game-sd-tabs">
    <li><a href="#friends" data-toggle="tab">Friends</a></li>
    <li><a href="#pending" data-toggle="tab">Pending</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane active" id="friends">
      
    </div>

    <div class="tab-pane" id="pending">  
      
  </div> 
</div>

<ul class="users">
  <% @users.each do |user| %>
    
  	<% if !signed_in? || !(user.id == current_user.id) %>
    	<li>
	    	<%= user.id %>
	    	<%= link_to user.name, user %>
	    	<% if signed_in? && !are_they_friends?(user)  %>
	    		<%= link_to "Add Friend", friendships_path(friend_id: user), method: :post %>
	    	<% end %>	
		</li>
    <% end %>	
   
  <% end %>
</ul>

<% if signed_in? %> 
<ul>
	<p>Requested</p>
    <% @fRequested.each do |request| %>
 	    <li>
 	    id <%= request.id %>
 	      USer <%= request.user_id %>
 	      Friend <%= request.friend_id %>
 	      <%= link_to "Accept",  friendship_path(id: request.id), method: "put" %>
 	      <%= link_to "Decline", friendship_path(id: request.id), method: "delete" %>
 	    </li>
 	  <% end %>
	
</ul>

<ul>
	<p>Pending</p>
    <% current_user.pending.each do |request| %>
    <li>
      <%= request.name %>
    </li>
  <% end %>
</ul>

<ul>
	<p>Friends</p>
    <% current_user.friends.each do |request| %>
    <li>
      <%= request.name %>
    </li>
  <% end %>
</ul>

<% end %>



