<% provide(:title, 'My Games') %>
<% provide(:htitle, 'My Games') %>
<% provide(:secondaryTitle, 'Invited')%>

<div class="container" style="margin-top:20px;">
  <% if !are_there_games?%>
    <%= render partial: "games/shared/no_games_message" %>
  <% else %>  

    <div class="row">
    	<%= render partial: "games/shared/menu_bar" %>

		<% if @games.empty? && @games_no_date.empty?  %>
			<div>
			  <P class="lead">No invited games to display.</P>
			  <%= link_to 'New Game', new_game_path, class: "btn btn-large btn-primary btn-round btn-fill" %>
			</div>
		<% else %>	

		<% if !@games.empty? %>
			<%= render partial: "games/shared/games", locals: {games: @games, subtitle: 'Games with Date'} %>
			<hr>
		<% end %>
      	
      	<% if !@games_no_date.empty? %>
      		<%= render partial: "games/shared/games_no_date", locals: {games: @games_no_date, subtitle: 'Games no date'} %>
      		<hr>
      	<% end %>
      
      <% end %>
    </div>
  <% end %>  
</div>