<% if !games.empty? %>
<div class="row">
  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Type</th>
          <th>Date</th>
          <th>Time</th>
          <th>End Time</th> 
          <th>Location</th>
          <th>Players Needed</th>
          <th>Players Comfirmed</th>
          <th>Admin</th>
          <th>Settings</th>
        </tr>
      </thead>
      <tbody>
        <% games.each do |game| %>

          <tr>
            <td><%= link_to game.id, game %></td>
            <td><%= public_or_private(game.public) %></td>
            <td><%=  get_reservation_date_from_game(game.id) %></td>
            <td><%= get_reservation_time_from_game(game.id) %></td>
             <td><%= get_reservation_end_time_from_game(game.id) %></td>
            <td><%= get_reservation_location_from_game(game.id) %></td>
            <td><%= game.number_players %></td>
            <td><%= get_number_of_players_ready(game.id)%></td>
            <td><%= link_to get_game_creator_link_name(game), get_game_creator_link(game) %></td>
            <td>
            <% if current_user?(game.user) %>
                <%= link_to "Edit", :controller => "games", :action => "edit", :id => game
                          %>
                <%= link_to game, method: :delete,
                         data: { confirm: "Are you sure you want to delete this game?" },
                         title: game.title do %>
                         Delete
                <%end%>
            <% end %>
            </td>
          </tr>

        <% end %>  
      </tbody>
    </table>
  </div>  
</div>
<% end %>

<% if defined?(games_no_res) != nil && !games_no_res.empty? %>
  <div class="row">
    <h3 class="lead">Games with no reservation</h3>
    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Type</th>
            <th>Players Needed</th>
            <th>Players Comfirmed</th>
            <th>Admin</th>
            <th>Settings</th>
          </tr>
        </thead>
        <tbody>
          <% games_no_res.each do |game| %>

            <tr>
              <td><%= link_to game.id, game %></td>
              <td><%= public_or_private(game.public) %></td>
              <td><%= game.number_players %></td>
              <td><%= get_number_of_players_ready(game.id)%></td>
             <td><%= link_to get_game_creator_link_name(game), get_game_creator_link(game) %></td>
              <td>
             <% if current_user?(game.user) %>
                <%= link_to "Edit", :controller => "games", :action => "edit", :id => game
                          %>
                <%= link_to game, method: :delete,
                                        data: { confirm: "Are you sure you want to delete this game?" },
                                        title: game.title do %>
                                          Delete
                 <%end%>
             <% end %>
              </td>
            </tr>

          <% end %>  
        </tbody>
      </table>
    </div>
  </div>  
<% end %>
<% if (defined?(games_no_res) != nil && games_no_res.empty?) && games.empty? %>
  <P class="lead">You don't have games availble at the moment. </P>
   <%= link_to 'New Game', new_game_path, class: "btn btn-large btn-primary btn-round btn-fill" %>
<% end%>