<% provide(:title, 'Edit Game') %>
<% provide(:htitle, 'Edit Game') %>

<div class="row">
  <div class="col-md-6 col-md-offset-2">
    <%= form_for(@game) do |f| %>
    <div class="row">
    <%= render 'shared/error_messages', object: f.object %>
    </div>	

      <div class="row">
        <div class="form-group">
          <div class="col-md-2">
            <%= f.label :invite_allowed, 'Allow Invites' %>
          </div>
          <div class="col-md-8">
            <%= f.select :invite_allowed, [['Yes', true], ['No', false]], {prompt: "Select"}, { class: 'form-control'} %>
          </div>
        </div>
      </div>
    
      <div class="row">
        <div class="form-group">
          <div class="col-md-2">
            <%= f.label :public, 'Public' %>
          </div>
          <div class="col-md-8">
            <%= f.select :public, ['Private', 'Friends', 'Friends of friends', 'Public'], {prompt: "Select"}, { class: 'form-control'} %>
          </div>
        </div>
      </div>
      <hr>
      <% if signed_in? %> 
      <div class="row">
        <div class="form-group">
          <div class="col-md-2">
            <%= f.label :title, 'Title' %>
          </div>
          <div class="col-md-8">
            <%= f.text_field :title, class: 'form-control' %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <div class="col-md-2">
            <%= f.label :description, 'Description'%>
          </div>
          <div class="col-md-8">
            <%= f.text_area :description, cols: "30", rows: "10", class: 'form-control text-area' %>
          </div>
        </div>
      </div>

      <hr>
      <% end %>

      <% if !signed_in? %> 
         <div class="row">
           <div class="form-group">
             <div class="col-md-2">
              <%= f.label :user_id, 'User Email' %>
             </div>
             <div class="col-md-10">
               <div class="col-md-8">
                  <%= f.text_field :user_id, class: 'form-control' %>
             </div>
           </div>   
         </div>
       </div>
      <% end %>

      <div class="row">
        <div class="form-group">
          <div class="col-md-2">
          <%= f.label :number_players, '#Players' %>
          </div>
          <div class="col-md-10">
            <div class="col-md-8">
              <%= f.text_field :number_players, class: 'form-control' %>      
            </div>
          </div>   
        </div>
      </div>
      <hr>

     
      <%= f.submit "Update game", class: "btn btn-primary btn-fill btn-round pull-right" %>
       <%= link_to 'Cancel', game_path(@game), class: "btn btn-default btn-round pull-right" %> 
    <% end %>

     <%= link_to "delete", @game, method: :delete,
                     data: { confirm: "Are you sure you want to delete this game?" },
                     title: @game.title, class: "btn btn-danger btn-round" %>
  </div>
</div>
