<% provide(:title, 'All games') %>
<h1>All Games</h1>

<ul class="games">
  <% @games.each do |game| %>
    <li>
      <%= game.id %>
      <%= link_to game.date, game %>
      <%= game.time.hour %>:<%= game.time.min %>
      <%= game.business.name %>
      <%= game.business.id%>
      <%= game.field_id %>
    </li>
  <% end %>
</ul>