<% provide(:title, 'All games') %>
<h1>All Games</h1>

<ul class="games">
  <% @games.each do |game| %>
    <li>
      Game id: <%= game.id %> |
        <%= link_to game.date, game %> |
        <%= game.time.hour %>:<%= game.time.min %> |
        Name: <%= game.business.name %> |
        B id: <%= game.business.id%> |
        field id: <%= game.field_id %> |
        USer Name: <%= game.user.name %> |
        <% if current_business?(game.business) || current_user?(game.user) %>
          <%= link_to "delete", game, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: game.date %>
          <% end %>
    </li>
  <% end %>
</ul>