<% provide(:title, 'All games') %>
<% provide(:htitle, 'My Games') %>
<% provide(:secondaryTitle, '')%>

<div class="container" style="margin-top:20px;">
<% if @games.empty? && @games_no_reservation.empty? && @oldgames.empty?  %>
  <div>
    <P class="lead">You haven't created games yet. </P>
    <%= link_to 'New Game', new_game_path, class: "btn btn-large btn-primary btn-round btn-fill" %>
  </div>
<% else %>  

<%= link_to 'New Game', new_game_path, class: "btn btn-large btn-primary btn-round btn-fill pull-right" %>
  <div class="row">
    <ul class="nav nav-tabs game-sd-tabs">
      <li><a href="#current-games" data-toggle="tab">Current</a></li>
      <li><a href="#old-games" data-toggle="tab">Old</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="current-games">
        <% if logged_in? %>
           <%= render partial: "games/games", locals: {games: @games, games_no_res: 
            @games_no_reservation } %>
        <% elsif signed_in? %>
          <%= render partial: "games/games", locals: {games: @games, games_no_res: 
            @games_no_reservation } %>
        <% end %>
      </div>

      <div class="tab-pane" id="old-games">  
        <% if @oldgames.empty? %>
            <P class="lead">No old games to display.</P>
        <% else %>
          <% if logged_in? %>
             <%= render partial: "games/games", locals: {games: @oldgames} %>
          <% elsif signed_in? %>
          <%= render partial: "games/games", locals: {games: @oldgames} %>
          <% end %>
        <% end %>  
      </div> 
    </div>
  </div>

<% end %>  
</div>