<% provide(:title, 'All games') %>
<% provide(:htitle, 'My Games') %>
<% provide(:secondaryTitle, 'All')%>
<%= render partial: "shared/menu_bar" %>

<div class="container games" style="margin-top:20px;">
  <% if !are_there_games? %>
    <%= render partial: "games/shared/no_games_message" %>
  <% else %>  

    <div class="row">
    	<div class="col-md-12 col-sm-12">
	    	<nav class="">
	    		<div class="container-fluid">
			    	<%= form_tag(games_path, :method => "get", class: "") do %>
			    		<div class="col-md-9 col-md-offset-1 col-sm-10 col-xs-9">
			    			<div class="input-group">
			    			  <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search"></i></span>
			    			  <%= text_field_tag :date, params[:date], data:{ provide:'datepicker', 'date-format' => 'dd-mm-yyyy', 'date-autoclose' => 'true' }, placeholder: "DD-MM-YYYY", class: "form-control" %>
			    			</div>

			    			
			    		</div>
			    			<%= submit_tag "Search", class: "btn btn-primary btn-round btn-fill" %>
			    	<% end %>
	    		</div>
	    	</nav>
    	</div>
	</div>
	<div class="row">
    	<div class="col-md-12 col-sm-12">
    		<% if @games.empty? &&  params[:date] %>
    			<p class="lead"> Sorry, we couldn't find a game at <%= params[:date]%>. Please, try again</p>
    		<% end %>
			<% @games.each do |game| %>
				<div class="col-md-4 col-sm-6">
					<%= render partial: '/games/shared/game_card', locals: {game: game} %>
				</div><!-- end col -->
			<% end %>
      </div>
    </div>
      
    
  <% end %>  
</div>


