<%= form_tag search_path, action: "search", method: :get do %>
  <%= label_tag :city %>
  <%= text_field_tag :city, params[:city] %>
  <%= label_tag :time %>
  <%= text_field_tag :time, params[:time] %>
  <%= label_tag :number %>
  <%= number_field_tag :number, params[:number] %>
  <%= submit_tag "Search", name: nil %>
<% end %>

<div class="row">
	<% @businesses.each do |business| %>	
		<div class="col-sm-6 col-md-4">
		    <div class="thumbnail">
		      <img data-src="holder.js/300x200" alt="...">
		      <div class="caption">
		        <h3><%= business.id %>, <%= link_to business.name, business %></h3>
		        <p>...</p>
		        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
		      </div>
		    </div>
		</div>
	<% end %>
</div>



