<% provide(:title, 'My Games') %>
<% provide(:htitle, @game.title) %>
<% provide(:secondaryTitle, @game.id.to_s)%>
<ul class="nav nav-tabs game-sd-tabs" style="background-color: #fafafa; padding-left: 3%">
          <li class="active"><%= link_to 'Info', game_path(@game) %></li>
          <li><%= link_to 'Players', players_path(@game) %></li>
          <li><%= link_to 'Comments', conversation_index_path(@game) %></li>
</ul>

<div class="container">
  <div class="row">
    <div class="col-md-offset-1 col-md-9 game-content">

        <% if signed_in? || (@game.user_id.nil? && @game.business_id.present?) %>
          <p class="lead game-description"><%= @game.description %></p>
        <% end %>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title lead"><i class="fa fa-info-circle"></i> Information</h3>
          </div>
          <div class="panel-body">
           <ul class="list-unstyled list-inline">
                  <li style="font-size:1.2em;"><span class="label label-success"><i class="fa fa-futbol-o"></i> <%= get_public_or_private_string_from_game %> Game</li> 
                  <li><i class="fa fa-user"></i> Admin: <%= link_to get_game_creator(@game).name, get_game_creator(@game) %></li>
                  <li><i class="fa fa-users"></i> Players Wanted: <%= @game.number_players %></li>
                  <li><i class="fa fa-calendar"></i> Created: <%= @game.created_at.strftime("%b/%d") %></li>
                  <li><i class="fa fa-clock-o"></i> Updated: <%= @game.updated_at.strftime("%b/%d") %></li>
                </ul>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
           <h3 class="panel-title lead"><i class="fa fa-map-marker"></i> Where <i class="fa fa-calendar"></i> When</h3>
          </div>
          <div class="panel-body">
           
            <div class="">
              <% if @game.reservation.nil? %>
                <%= render partial: 'reservations/new_reservation' %>
              <% else %>
                <div style="float:left; margin-right:80px;">
                  <address>
                    <strong><i class="fa fa-map-marker"></i> <%= @game.reservation.business.name %></strong><br>
                   <%= @game.reservation.business.address %><br>
                    <%= @game.reservation.business.city %>, <%= @game.reservation.business.state %> <%= @game.reservation.business.zipcode %>
                    <br>
                    <i class="fa fa-phone"></i> <%= @game.reservation.business.phone %> 
                </address>
                </div>

                <div style="">
                  <strong><i class="fa fa-soccer-ball-o"></i> <%= get_field(@game.reservation.field_id).name %></strong><br>
                  <i class="fa fa-users"></i> <%= get_field(@game.reservation.field_id).number_players %> Players Field<br>
                  <strong><i class="fa fa-calendar"></i> <%= @game.reservation.date %></strong><br>
                  <i class="fa fa-clock-o"></i> <%= @game.reservation.time.strftime("%I:%M %p") %> - <%= @game.reservation.end_time.strftime("%I:%M %p") %> 
                </div>
                
              <% end %>  
             </div>
          </div>
          <% if !@game.reservation.nil? && @game.user == current_user %>
            <div class="panel-footer">
               <i class="fa fa-times"></i><%= link_to "Cancel Reservation", @game.reservation, method: :delete,
                     data: { confirm: "Are you sure you want to delete this reservation?" },
                     title: @game.reservation %>
            </div>
            <% end %>
        </div>
    </div><!-- col-8 main content-->

  </div><!-- row -->
</div><!-- container -->



