<div class="container">
  
  <div class="row game-header">
    <div class="col-md-12">
      <h1 style="margin-bottom:0px;"><small><%= @game.id%></small> <%= @game.title %></h1>
      <hr style="margin-top:0.5em; margin-bottom:0.5em;">
      <ul class="list-unstyled list-inline">
        <li style="font-size:1.2em;"><span class="label label-default"><i class="fa fa-futbol-o"></i> <%= @isPublic %> Game</li>
        <% if !@game.user.nil? %>   
          <li><i class="fa fa-user"></i> <%= @game.user.name %></li>
        <% end %>
        <li><i class="fa fa-users"></i> <%= @game.number_players %></li>
        <li class="pull-right"><i class="fa fa-gear"></i> <%= link_to "Settings", edit_game_path(@game.id) %></li>
      </ul>
      
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 game-content">
      <% if !logged_in? %>
        <p class="lead game-description"><%= @game.description %></p>
      <% end %>
      <div class="panel panel-default">
        <div class="panel-heading">
         <h3 class="panel-title"><i class="fa fa-info-circle"></i> Information</h3>
        </div>
        <div class="panel-body">
         
          <div class="">
            <% if @game.reservation.nil? %>
              <%= render partial: 'reservations/new_reservation' %>
            <% else %>
              <div style="float:left; margin-right:80px;">
                <address>
                  <strong><i class="fa fa-map-marker"></i> <%= @game.reservation.business.name %></strong><br>
                 <%= @game.reservation.business.address %><br>
                  <%= @game.reservation.business.city %>, <%= @game.reservation.business.state %> <%= @game.reservation.business.zipcode %>
                  <br>
                  <i class="fa fa-phone"></i> <%= @game.reservation.business.phone %> 
              </address>
              </div>

              <div style="">
                <strong><i class="fa fa-soccer-ball-o"></i> <%= get_field(@game.reservation.field_id).name %></strong><br>
                <i class="fa fa-users"></i> <%= get_field(@game.reservation.field_id).number_players %> Players Field<br>
                <strong><i class="fa fa-calendar"></i> <%= @game.reservation.date %></strong><br>
                <i class="fa fa-clock-o"></i> <%= @game.reservation.time.strftime("%I:%M %p") %> - <%= @game.reservation.end_time.strftime("%I:%M %p") %> 
              </div>
              
            <% end %>  
           </div>
        </div>
      </div>
       
      <% if !logged_in? %>
        <%= render partial: "comments/comments", locals: {commentable: @game }%>

        <%= render partial: "comments/form", locals: {commentable: @game} %>
      <% end %>
    </div>
    

    <div class="col-md-3">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs game-sd-tabs">
        <li><a href="#playing" data-toggle="tab">Playing <span class="badge"><%=@game_lines_accepted.count%></span></a></li>
        <li><a href="#invited" data-toggle="tab">Invited <span class="badge"><%=@game_lines.count%></span></a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active" id="playing">
          <% if @game_lines_accepted.empty? %>
            <p>There is no active players yet.</p>
          <% else %>
            <%= render @game_lines_accepted %>
          <% end %>
        </div>
        <div class="tab-pane" id="invited">
          <% if @game_lines.empty? %>
            <p>There are no players invited yet.</p>
          <% else %>
            <%= render @game_lines %>
          <% end %>  
        </div>
        
      </div>

      <% if @game_lines_accepted.count != @game.number_players %>
        <div class="invite-player-game"> 
          <%= form_for(@game_line) do |f| %>
          <%= render 'shared/error_messages', object: f.object %> 
          
          <%= f.text_field :user_id, placeholder: "Enter Email or ID", class: "form-control" %> 
          
            <%= f.hidden_field :game_id, :value => @game.id %>
            
              <%= f.submit "Invite", readonly: true,class: "btn btn-primary btn-fill btn-round" %>
          <% end %>
        </div>
        <% else %>
          <div class="alert alert-success" style="margin-top:20px;">
            
              Number of Players are completed!
            
          </div>
        <% end %>
     </div>
  </div>


</div>

