      Game id: <%= @game.id %> |
        <%= link_to @game.date, @game %> |
        <%= @game.time.hour %>:<%= @game.time.min %> |
        Name: <%= @game.business.name %> |
        B id: <%= @game.business.id%> |
        field id: <%= @game.field_id %> |
        USer Name: <%= @game.user.name %> |
        <% if current_business?(@game.business) || current_user?(@game.user) %>
          <%= link_to "delete", @game, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: @game.date %>
          <% end %>

<%= form_for(@game_line) do |f| %>
<%= render 'shared/error_messages', object: f.object %> 
<div class="">
  <%= f.label :user_id %>
  <div class="">
    <%= f.number_field :user_id %>
  </div>
</div>
<div >
  <div >
  <%= f.hidden_field :game_id, :value => @game.id %>
  </div>
</div>
<div>
  <div>
    <%= f.submit "Add Player" %>
  </div>
</div>
<% end %>
<hr>

<h4>Players</h4>
<table class="schedules">
<tr>
    <th>Id</th>
    <th>User</th>
    <th>Game</th>
    <th></th>
</tr>
<%= render @game_lines %>
</table>