<% provide(:title, 'Game') %>
<div class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-sm-8 col-xs-12">
        <h1>
          <%= @game.title%>
          <small><%= @game.id%></small>
        </h1>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-12">
          <% if correct_business_or_user_to_edit_page %>
                <%= link_to edit_game_path(@game.id), class: "btn btn-primary btn-fill pull-right" do %>
                    <i class="fa fa-gear"></i> Settings
                  <% end %>
          <% end %>        
      </div>
    </div>
  </div>
</div> 

   

<div class="container game-content">
    <ul class="nav nav-tabs" style="">
            <li class="<%= 'active' if current_page?(controller: 'games', action: 'show') %>"><%= link_to 'Info', game_path(@game) %></li>
            <li><%= link_to 'Players', players_path(@game) %></li>
  </ul>
  <div class="row">
    <div class="col-md-7 col-sm-7 games-comments">

      <%= render partial: "comments/comments", locals: {commentable: @game }%>
    </div>
    <div class="col-md-4 col-md-offset-1 col-sm-5" style="padding-left: 30px;">

        
        <%= render '/games/shared/side_bar' %>

        
        
    </div><!-- col-8 main content-->

  </div><!-- row -->
</div><!-- container -->