<% provide(:title, 'My Games') %>
<%= render "/games/shared/game_header"%>
<%= render "/games/shared/menu_bar" %>

<div class="container">
  <div class="row">
    <div class="col-md-offset-1 col-md-9 game-content">

        <% if signed_in? || (@game.user_id.nil? && @game.business_id.present?) %>
          <div class="card">
            <h4> Information</h4>
            <hr>
            <div class="content game-information-content">
              <p class="lead game-description"><%= @game.description %></p>
            </div>
          </div>
          
        <% end %>


        
        <div class="card">
          <h4>Venue and Time</h4>
          <hr>
          <div class="content">
           <div class="row card-venue-content">
                <% if !@game.reservation && !@game.custom_venue %>
                  <div class="row venue-buttons">
                    <div class="col-md-4 col-md-offset-1 col-sm-6 col-xs-12">
                      There is no venue and date planned yet.
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <%= render partial: 'reservations/new_reservation' %>
                      or
                      <%= render partial: 'custom_venue/new_custom_venue' %>
                    </div>
                  </div>
                  
                <% else %>
                  <% if @game.reservation %>
                    <%= render partial: 'games/shared/reservation_display' %>
                  <% elsif @game.custom_venue %>  
                    <%= render partial: 'games/shared/custom_venue_display' %>
                  <% end %>  
                <% end %>  

            </div>
          </div><!-- end content -->
        </div><!-- end card -->

        
        <div class="card">
          <h4>Game Settings</h4>
          <hr>
          <div class="content">

          <div class="row card-info-content">
            
            <div class="col-sm-4 col-xs-4 info info-invites"><div class="icon"><i class="fa fa-plus"></i></div><div class="description"><span class="title"> Invites</span><br><span class="value"> <%= get_invites_real_string(@game.invite_allowed) %> </span></div></div>

            <div class="col-sm-4 col-xs-4 info"><div class="icon"><i class="fa fa-user"></i></div><div class="description"><span class="title"> Admin</span><br><span class="value"> <%= link_to get_game_creator(@game), get_game_creator(@game) %> </span></div></div>
            

            <div class="col-sm-4 col-xs-4 info"><div class="icon"><i class="fa fa-calendar"></i></div><div class="description"><span class="title"> Created</span><br><span class="value"> <%= @game.created_at.strftime("%b/%d") %> </span></div></div>


            <div class="col-sm-4 col-xs-4 info"><div class="icon"><i class="fa fa-users"></i></div><div class="description"><span class="title"> Players Desired</span><br><span class="value"> <%= @game.number_players %> </span></div></div>

            <div class="col-sm-4 col-xs-4 info"><div class="icon"><i class="fa fa-eye"></i></div><div class="description"><span class="title"> View</span><br><span class="value"> <%= @game.public %> </span></div></div>

            <div class="col-sm-4 col-xs-4 info"><div class="icon"><i class="fa fa-clock-o"></i></div><div class="description"><span class="title"> Last Updated</span><br><span class="value"> <%= @game.updated_at.strftime("%b/%d") %> </span></div></div>

          </div>   

          </div>
        </div><!-- End of card-->

        
    </div><!-- col-8 main content-->

  </div><!-- row -->
</div><!-- container -->



