<div class="container">
  
  <div class="row game-header">
    <div class="col-md-12">
      <h1 style="margin-bottom:0px;"><small><%= @game.id%></small> <%= @game.title %></h1>
      <hr style="margin-top:0.5em; margin-bottom:0.5em;">
      <ul class="list-unstyled list-inline">
        <li style="font-size:1.2em;"><span class="label label-default"><i class="fa fa-futbol-o"></i> <%= @isPublic %> Game</li>
        <li><i class="fa fa-calendar"></i> <%= @game.date.strftime("%B %e %Y") %></li>
        <li><i class="fa fa-clock-o"></i> <%= @game.time.strftime("%I:%M %p") %> - <%= @game.end_time.strftime("%I:%M %p") %></li>
        <li><i class="fa fa-user"></i> <%= @game.user.name %></li>
        <li><i class="fa fa-users"></i> <%= @game.number_players %></li>
      </ul>
      
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 game-content">
      <% if !logged_in? %>
        <p class="lead game-description"><%= @game.description %></p>
      <% end %>
      <div class="panel panel-default">
        <div class="panel-heading">
         <h3 class="panel-title"><i class="fa fa-info-circle"></i> Information</h3>
        </div>
        <div class="panel-body">
         
          <div class="col-md-4">
            <address>
              <strong><i class="fa fa-map-marker"></i> <%= @game.business.name %></strong><br>
             <%= @game.business.address %><br>
              <%= @game.business.city %>, <%= @game.business.state %> <%= @game.business.zipcode %>
              <br>
              <i class="fa fa-phone"></i> <%= @game.business.phone %> 
            </address>
           </div>
           <div class="col-md-4">
              <i class="fa fa-futbol-o"></i> Field: <%= @field.name %> <br>
              <i class="fa fa-users"></i> Field size: <%= @field.number_players %> <br>
              <i class="fa fa-dollar"></i> Price: <%= @field.price %> 
            </div>  
        </div>
      </div>
       
      <% if !logged_in? %>
        <%= render partial: "comments/comments", locals: {commentable: @game }%>

        <%= render partial: "comments/form", locals: {commentable: @game} %>
      <% end %>
    </div>
    

    <div class="col-md-3">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs game-sd-tabs">
        <li><a href="#playing" data-toggle="tab">Playing <span class="badge"><%=@game_lines_accepted.count%></span></a></li>
        <li><a href="#invited" data-toggle="tab">Invited <span class="badge"><%=@game_lines.count%></span></a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active" id="playing">
          <% if @game_lines_accepted.empty? %>
            <p>There is no active players yet.</p>
          <% else %>
            <%= render @game_lines_accepted %>
          <% end %>
        </div>
        <div class="tab-pane" id="invited">
          <% if @game_lines.empty? %>
            <p>There are no players invited yet.</p>
          <% else %>
            <%= render @game_lines %>
          <% end %>  
        </div>
        
      </div>

      <% if @game_lines_accepted.count != @game.number_players %>
        <div class="invite-player-game"> 
          <%= form_for(@game_line) do |f| %>
          <%= render 'shared/error_messages', object: f.object %> 
          
          <%= f.text_field :user_id, placeholder: "Enter Email or ID", class: "form-control" %> 
          
            <%= f.hidden_field :game_id, :value => @game.id %>
            
              <%= f.submit "Invite", readonly: true,class: "btn btn-primary btn-fill btn-round" %>
          <% end %>
        </div>
        <% else %>
          <div class="alert alert-success" style="margin-top:20px;">
            
              Number of Players are completed!
            
          </div>
        <% end %>
     </div>
  </div>

<div style="margin-top:200px;">
      Game id: <%= @game.id %> |
        <%= link_to @game.date, @game %> |
        <%= @game.time.hour %>:<%= @game.time.min %> |
        <%= @game.end_time.hour %>:<%= @game.end_time.min %> |
        <% if !@game.business.nil? %>
        Name: <%= @game.business.name %> |
        B id: <%= @game.business.id%> |
        field id: <%= @game.field_id %> |
        <% end %>
        USer Name: <%= @game.user.name %> |
        <% if current_business?(@game.business) || current_user?(@game.user) %>
          <%= link_to "delete", @game, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: @game.date %>
          <% end %>


</div>

</div>

