
<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Date</th>
        <th>Time</th>
        <th>End Time</th> 
        <th>Field Name</th>
        <th>User</th>
        <th>Created</th>
        <th>Settings</th>
      </tr>
    </thead>
    <tbody>
      <% reservations.each do |reservation| %>

        <tr>
          <td><%= reservation.id %></td>
          <td><%= link_to reservation.date.strftime("%B %e %Y"), reservation %></td>
          <td><%= reservation.time.strftime("%r") %></td>
          <td><%= reservation.end_time.strftime("%r") %></td>
          <td><%= get_field(reservation.field_id).name %></td>
          <td><%= get_reservation_user(reservation) %></td>
          <td><%= reservation.created_at.strftime("%D at %r") %></td>
          <td>
            <%= link_to "Edit", :controller => "/reservations", :action => "edit", :id => reservation
                          %>
            <%= link_to reservation, method: :delete,
                         data: { confirm: "Are you sure you want to delete this game?" },
                         title: reservation do %>
                         Delete
            <% end %>             
          </td>
        </tr>

      <% end %>  
    </tbody>
  </table>
</div>  

