<% provide(:title, 'Confirmation') %>
<% provide(:include_menu, 'false') %>


<div class="container ngf ngf3">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 col-sm-12">
      <h1 id="logo-black"><i class="fa fa-soccer-ball-o"></i> FUTFINDER <br><small>New Game</small></h1>

      <div style="text-align:center;margin-top:20px; margin-bottom:30px;">
        <span class="step finish"></span>
        <span class="step finish"></span>
        <% if params[:source] %>
          <span class="step finish"></span>
        <% end %>
        <span class="step active"></span>
      </div>
      <div class="card">
        <div class="header">
          <h4>Confirmation</h4>
        </div>
        <div class="content">
            <div class="row">
               
            </div>

           <div class="row">
            
              <div class="col-md-12">
                <h3>Reservation</h3>
                      <strong>Date</strong>
                      <%= get_venue_date %>
              </div>
              <div class="col-md-12">
                      <strong>Time</strong>
                      <%= get_venue_time %> - <%= get_end_time_from_time_and_duration.strftime("%I:%M %p") %>
              </div>
              <div class="col-md-12">
                      <strong>Reserved by</strong>
                       <%= get_game_from_params.user.first_name %>
                      <%= get_game_from_params.user.last_name %>
              </div>
              <div class="col-md-12">
                      <strong>Location</strong> 
                      <%= get_venue_name %>
              </div>

           </div>
           <hr>
           <div class="row">
              <div class="col-md-12">
                <h3>Venue</h3>
              </div>
              <div class="col-md-4 col-xs-5"> 
                      <%= get_venue_name %><br> 
                      <strong>Address</strong><br>
                      <%= get_venue_address %><br>
                      <%= get_venue_city %>, <%= get_venue_state %> <br>
                      <%= get_venue_zipcode %>
              </div>
              <div class="col-md-8 col-xs-7">
                <br>
                <div class="col-xs-5">
                    <strong>Field</strong>
                </div>
                <div class="col-xs-7">
                      <%= get_field_venue.name %>
                </div>
                <div class="col-xs-5">
                    <strong>Field Size</strong>
                </div>
                <div class="col-xs-7">
                      <%= get_field_venue.number_players %>
                </div>
              </div>
           </div>
           <hr>
           <div class="row">
            <div class="col-md-12">
                <h3>Total</h3>
              </div>
            <div class="col-md-6">
              <table class="table table-responsive">
                  <tr>
                    <td><strong>Duration</strong></td>
                    <!-- <td><%= get_duration_from_time_and_endtime %> hours</td> -->
                    <td><%= params[:duration]%> hour</td>
                  </tr>
                  <tr>
                    <td><strong>Reservation Fee</strong></td>
                    <td>$<%= get_field_venue.price %></td>
                  </tr>
                  <tr>
                    <td>Players Desired</td>
                    <td><%= get_game_from_params.number_players %></td>
                  </tr>
              </table>
            </div>

            <div class="col-md-6">
              <table class="table table-responsive">
                  <tr>
                    <td><strong>Subtotal</strong></td>
                    <td><%= get_venue_total(get_field_venue, get_game_from_params, params[:duration].to_f, nil)%>/ By player</td>
                  </tr>
                  <tr>
                    <td><strong>Fee</strong></td>
                    <td>$1.00</td>
                  </tr>
                  <tr>
                    <td>Total</td>
                    <td><%= get_venue_total(get_field_venue, get_game_from_params, params[:duration].to_f, 1)%> / By player</td>
                  </tr>
              </table>
            </div>
           </div>

           <hr>

           <div class="row">
            <div class="col-md-12">
               <h3>Remember</h3>
               <ul>
                 <li>Check In at least 15 minutes before the game starts.</li>
                 <li>All the players involved in the game will be charged automateclly after check in</li>
                 <li>The total charged will be divided by the number of players that confirm to be part of the game.</li>
                 <li>Organizer is responsible to check after the game with the field, to make sure all payments were accepted in case a card gets declined and a player has to pay at the business.</li>
               </ul>
              </div>
           </div>
            <hr>
            <div class="row">
              <div class="col-md-12">
                 <%= form_for(@reservation) do |f| %>
                  <%= f.hidden_field :business_id, value: params[:business].to_i %>
                  <%= f.hidden_field :date,  value: params[:date] %>
                  <%= f.hidden_field :time,  value: params[:time] %>
                  <%= f.hidden_field :end_time,  value: get_end_time_from_time_and_duration.strftime("%I:%M %p") %>
                  <%= f.hidden_field :field_id,  value: params[:field] %>
                  <%= f.hidden_field :game_id,  value: params[:game] %>
                  <%= hidden_field :source,  value: "confirmation_reservation" %>
                  Do you accept terms and services?
                  <%= f.submit "Confirm", class: "btn btn-large btn-primary btn-fill pull-right" %>
                  <%= link_to 'Back', available_fields_path(game: params[:game], date: params[:date], time: params[:time], duration: get_duration_from_time_and_endtime), class: "btn btn-large btn-default pull-right" %>
                  <% end %>
              </div> 
           </div>
         </div>
      </div><!-- card -->
    </div><!-- col-6--> 
  </div>
</div><!-- container -->
<%= params[:duration].is_a?(String)%><br>
<%= get_end_time_from_time_and_duration.strftime("%I:%M %p").is_a?(String) %>