<% provide(:title, 'New Reservation') %>
<% provide(:htitle, 'New Reservation') %>
<% provide(:secondaryTitle, 'Create a Reservation!')%>

<div class="row">
  <div class="col-md-6 col-md-offset-2">
    <%= form_for(@reservation) do |f| %>
    <div class="row">
    <%= render 'shared/error_messages', object: f.object %>
    </div>	
    
      <div class="row">
        <div class="form-group">
          <div class="col-md-2">
            <%= f.label :date, 'Date' %>
          </div>
          <div class="col-md-8">
            <div class="col-md-4">
               <%= f.date_select :date, {prompt: { day: 'Day', month: 'Month' }, start_year: Date.today.year, end_year: Date.today.year,  with_css_classes: true, date_separator: "</div><div class='col-md-4'>"}, { class: 'form-control'} %>
            </div>
          </div>
        </div>   
      </div>
      
      <div class="row">
        <div class="form-group">
          <div class="col-md-2">
            <%= f.label :time, 'Time' %>
          </div>
          <div class="col-md-8">
            <div class="col-md-6">
                <%= f.time_select :time, {prompt: {hour: 'Choose hour', minute: 'Choose minute'}, minute_step: 30, ignore_date: true, ampm: true, start_hour: 6, time_separator: "</div><div class='col-md-6'>"}, {class: 'form-control'} %> 
            </div>
          </div>
        </div>   
      </div>

      <div class="row">
        <div class="form-group">
          <div class="col-md-2">
           <%= f.label :end_time, 'End Time' %>
          </div>
          <div class="col-md-8">
            <div class="col-md-6">
                <%= f.time_select :end_time, {prompt: {hour: 'Choose hour', minute: 'Choose minute'}, minute_step: 30, ignore_date: true, ampm: true, start_hour: 10, time_separator: "</div><div class='col-md-6'>"}, {class: 'form-control'} %>
            </div>
          </div>
        </div>   
      </div>

      <% if !logged_in? %> 
      <div class="row">
        <div class="form-group">
          <div class="col-md-2">
          <%= f.label :business_id, 'Business' %>
          </div>
          <div class="col-md-10">
            <div class="col-md-8">
              <%= f.collection_select(:business_id, @businesses, :id,:name, {prompt: true},  {:class => 'form-control'}) %>   
            </div>
          </div>   
        </div>
      </div>
      <% end %>

      <% if !signed_in? %>
      <div class="row">
        <div class="form-group">
          <div class="col-md-2">
          <%= f.label :field_id, 'Field' %>
          </div>
          <div class="col-md-10">
            <div class="col-md-8">
              <%= f.collection_select(:field_id, @fields, :id,:name, {prompt: true},  {:class => 'form-control'}) %>      
            </div>
          </div>   
        </div>
      </div>
      <% end %>
      <hr>

     
      <%= f.submit "Create Reservation", class: "btn btn-large btn-primary btn-fill btn-round pull-right" %>
       <%= link_to 'Cancel', url_for(:back), class: "btn btn-large btn-default btn-round pull-right" %> 
    <% end %>
  </div>
</div>
