<div class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-sm-12">
        <h1>
          Reservation
          <small><%= @reservation.id%></small>
        </h1>
      </div>
      <div class="col-md-2 col-sm-12">
        <%= link_to edit_reservation_path(@reservation.id), class: "btn btn-primary btn-fill pull-right" do %>
            <i class="fa fa-gear"></i> Settings
          <% end %>        
      </div>
    </div>
  </div>
</div> 


<div class="container" style="margin-top:20px;">
    <div class="row">
        <div class="col-md-7">
            <div class="panel panel-default">
              <!-- Default panel contents -->
              <div class="panel-heading">
                 <h3 class="panel-title lead"><i class="fa fa-info-circle"></i> Information
                 <%= link_to edit_reservation_path(@reservation.id), class: "pull-right" do %>
                     <i class="fa fa-gear"></i>
                   <% end %>  
                 </h3>
              </div>
            

              <!-- List group -->
              <ul class="list-group">
                <li class="list-group-item"><i class="fa fa-futbol-o"></i> Field: <span class="label label-success"><%= get_field(@reservation.field_id).name %></li> 
                <li class="list-group-item"><i class="fa fa-calendar"></i> <%= @reservation.date %></li>
                <li class="list-group-item"> <i class="fa fa-clock-o"></i> <%= @reservation.time.strftime("%I:%M %p") %> - <%= @reservation.end_time.strftime("%I:%M %p") %></li>
                <li class="list-group-item"><i class="fa fa-user"></i> Created by <%= get_reservation_user(@reservation) %> at <%= @reservation.created_at.strftime("%b/%d - %I:%M %p") %></li>
              </ul>
            </div>  
        </div>
        <div class="col-md-4">
          
        </div>


    </div> 

</div>

