<div class="row game-header">
  <div class="container">
    <div class="col-md-12">
      <h1 style="margin-bottom:0px; float:left;" >Reservation <small><%= @reservation.id%></small></h1>
      <%= link_to edit_reservation_path(@reservation.id), class: "btn btn-primary pull-right" do %>
          <i class="fa fa-gear"></i> Settings
        <% end %>        
    </div>  
  </div>
</div>
<hr>
<div class="container">
    <div class="row">
        <div class="col-md-7">
            <div class="panel panel-default">
              <!-- Default panel contents -->
              <div class="panel-heading">
                 <h3 class="panel-title lead"><i class="fa fa-info-circle"></i> Information</h3>
              </div>
            

              <!-- List group -->
              <ul class="list-group">
                <li class="list-group-item"><i class="fa fa-futbol-o"></i> Field: <span class="label label-success"><%= get_field(@reservation.field_id).name %></li> 
                <li class="list-group-item"><i class="fa fa-calendar"></i> <%= @reservation.date %></li>
                <li class="list-group-item"> <i class="fa fa-clock-o"></i> <%= @reservation.time.strftime("%I:%M %p") %> - <%= @reservation.end_time.strftime("%I:%M %p") %></li>
                <li class="list-group-item"><i class="fa fa-user"></i> Created by <%= get_reservation_user(@reservation) %> at <%= @reservation.created_at.strftime("%b/%d - %I:%M %p") %></li>
              </ul>
            </div>  
        </div>
        <div class="col-md-4">
          hola 2
        </div>


    </div> 

</div>

