<div class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-sm-12">
        <h1>
          Reservation
          <small><%= @reservation.id%></small>
        </h1>
      </div>
      <div class="col-md-2 col-sm-12">
        <%= link_to edit_reservation_path(@reservation.id), class: "btn btn-primary btn-fill pull-right" do %>
            <i class="fa fa-gear"></i> Settings
          <% end %>        
      </div>
    </div>
  </div>
</div> 


<div class="container" style="margin-top:20px;">
    <div class="row">
        <div class="col-md-7">
            <div class="panel panel-default">
              <!-- Default panel contents -->
              <div class="panel-heading">
                 <h3 class="panel-title lead"><i class="fa fa-info-circle"></i> Information
                 <%= link_to edit_reservation_path(@reservation.id), class: "pull-right" do %>
                     <i class="fa fa-gear"></i>
                   <% end %>  
                 </h3>
              </div>
            

              <!-- List group -->
              <ul class="list-group">
                <li class="list-group-item"><i class="fa fa-futbol-o"></i> Field: <span class="label label-success"><%= get_field(@reservation.field_id).name %></li> 
                <li class="list-group-item"><i class="fa fa-calendar"></i> <%= @reservation.date %></li>
                <li class="list-group-item"><i class="fa fa-dollar"></i> <%= @reservation.field_price / 100.00 unless @reservation.field_price.nil? %></li>
                <li class="list-group-item"> <i class="fa fa-clock-o"></i> <%= @reservation.time.strftime("%I:%M %p") %> - <%= @reservation.end_time.strftime("%I:%M %p") %></li>
                <li class="list-group-item"><i class="fa fa-user"></i> Created by <%= get_reservation_user(@reservation) %> at <%= @reservation.created_at.strftime("%b/%d - %I:%M %p") %></li>
                <li class="list-group-item">
                  <% if @reservation.checkin_time.nil? %>
                      <%= form_for(@checkin_time) do |f| %>
                      <%= f.hidden_field :reservation_id,  value: @reservation.id %>
                      <%= f.submit "Check In", class: "btn btn-primary btn-fill" %>
                      <% end %>
                  <% else %>
                    Check in Time: <%= @reservation.checkin_time.created_at %>
                  <% end %>
                </li>
              </ul>
            </div>  
        </div>
        <div class="col-md-4">
          <% if !@charges.empty? %>
            <div class="card">
                <h4>Charges</h4>
                <div class="content">
                <table class="table table-responsive">
                    <thead>
                      <tr>
                        <td></td>
                        <th>user</th>
                        <th>Status</th>
                        <th>Amount</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @charges.each do |charge| %>
                          <tr>
                            <td><%= charge.id %></td>
                            <td><%= charge.user.first_name %></td>
                            <td><%= charge.status %></td>
                            <td><%= number_to_currency charge.amount / 100.0 %></td>
                            <td>
                              <% if charge.status != "Refunded" %>
                              <%= link_to "Refund", refund_path(charge_id: charge.id), method: "put" %>
                                <% end %>
                              </td>
                          </tr>
                      <% end %>
                    </tbody>
                  </table>
              </div>
            </div>
          <% end %>
        </div>


    </div> 

</div>

