<% if games.empty?  %>
  <div>
    <P class="lead">No games to display.</P>
    <% if !current_page?(controller: '/games/upcoming_games', action: 'index') %>
      <%= link_to 'New Game', new_game_path, class: "btn btn-large btn-primary btn-round btn-fill" %>
    <% end %>  
  </div>
<% else %> 
  <div class="row">
    <div class="col-md-offset-1 col-md-10">
      <h3 style="padding-left:20px;"><%= subtitle %></h3>
      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Date</th>
              <th>Location</th>
            
              
              <th>Time</th>
              
              <th>Players</th>
              <th>Type</th>
              <th>Admin</th>
            </tr>
          </thead>
          <tbody>
            <% games.each do |game| %>

              <tr>
                <td><%=  link_to get_reservation_month_and_day_from_game(game.id), game %></td>
                <td><%= link_to get_reservation_location_from_game(game.id).name, get_reservation_location_from_game(game.id) %></td>
                
                
                <td><%= get_reservation_time_from_game(game.id) %> - <%= get_reservation_end_time_from_game(game.id) %></td>
                
                <td><%= get_number_of_players_ready(game.id)%> / <%= game.number_players %></td>
                <td><%= public_or_private(game.public) %></td>
                <td><%= link_to get_game_creator(game).name, get_game_creator(game) %></td>
              </tr>

            <% end %>  
          </tbody>
        </table>
      </div><!-- table responsive -->  
    </div>    
  </div><!-- row -->
<% end %>