<div class="row">
  <div class="col-md-offset-1 col-md-10">
    <h3 style="padding-left:20px;"><%= subtitle %></h3>
    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Game</th>
            <th>Type</th>
            <th>Players</th>
            <th>Admin</th>
          </tr>
        </thead>
        <tbody>
          <% games.each do |game| %>

            <tr>
              <td><%= link_to game.title, game %></td>
              <td><%= public_or_private(game.public) %></td>
              <td><%= get_number_of_players_ready(game.id)%> / <%= game.number_players %></td>

               <td><%= link_to get_game_creator(game).name, get_game_creator(game) %></td>
            </tr>

          <% end %>  
        </tbody>
      </table>
    </div>
  </div>
</div>  