<% if is_venue_still_current? %>
  <% if @game.user != current_user && @game.is_player_invited?(current_user) %>
    <div class="well" style="margin-top: 20px;">
      <p class="lead" style="">You have been invited to this game.<br>
       
         <%= link_to game_line_path(id: @game.get_user_game_line(current_user).id, accepted: "Accepted"), method: "put", class: 'btn' do %>
           <span style="color:green;">Accept Invitation</span>
         <% end %>
      
        <%= link_to game_line_path(id: @game.get_user_game_line(current_user).id, accepted: "Declined"), method: "put", class: 'btn' do %>
        <span style="color:red;">Decline Invitation</span>
        <% end %>
      </p>
    </div>
  <% end %>
<% else %>
    <div class="well" style="margin-top: 20px;">
      <p class="lead" style="text-align: center;">Game <strong style="color:green;">completed</strong>
        <% if @game.reservation %>
        <br><small>Checkin Time: <%= @game.reservation.checkin_time.created_at.strftime('%H:%M') %></small>
        <% end %>
      </p>
    </div>

    <% if @game.reservation.get_user_charge(current_user) %>
        <div class="well" style="margin-top: 20px;">
          <p class="lead" style="text-align: center;"> Your payment was <strong><%= @game.reservation.get_user_charge(current_user).status %></strong>
            <br><small>Amount: <%= ActionController::Base.helpers.number_to_currency(@game.reservation.get_user_charge(current_user).amount / 100.00 ) %></small>
          </p>
          <p style="text-align: center; margin-bottom: 0;"><%= link_to "Receipt", charge_path(@game.reservation.get_user_charge(current_user))%></p>
        </div>
    <% end %>
<% end %>

<div class="card">
  <h4>Time</h4>
  <hr>
  <div class="content">
   <div class="row card-venue-content">
        <% if !@game.reservation && !@game.custom_venue %>
          <div class="row venue-buttons">
            <div class="col-md-4 col-md-offset-1 col-sm-6 col-xs-12">
              There is no venue and date planned yet.
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <% if @game.user == current_user %>
                <%= render '/reservations/new_reservation'%>
              <% end %>
            </div>
          </div>
          
        <% else %>
          <% if @game.reservation %>
          <div class="col-md-6 col-xs-6">
              <div class="icon"><i class="fa fa-clock-o"></i></div>
              <strong>Time</strong><br>
              <%= @game.reservation.time.strftime("%I:%M") %> - <%= @game.reservation.end_time.strftime("%I:%M %p") %> 
          </div>
          <div class="col-md-6 col-sm-4 col-xs-6">
              <div class="icon"><i class="fa fa-calendar"></i></div>
              <strong>Date</strong><br>
              <%= @game.reservation.time.strftime("%m/%d/%Y") %>
          </div>
              <div class=" col-md-12">
                    
                    <% if (!@game.reservation.nil? && @game.user == current_user) && @game.reservation.checkin_time.nil? %>
                      <div class="cancel-res">
                        <% if is_it_at_least_3_hours_before? %>
                             <%= link_to "Cancel Reservation", @game.reservation, method: :delete,
                              data: { confirm: "Are you sure you want to cancel your reservation?" },
                              title: @game.reservation, class: "btn" %>
                        <% else %>
                              <%= link_to "Cancel Reservation", @game.reservation, method: :delete,
                               data: { confirm: "Are you sure you want to cancel your reservation? You will be charged $35 if you cancel now." },
                               title: @game.reservation, class: "btn" %>
                        <% end %>
                     </div>
                  <% end %>
                  </div>
          <% elsif @game.custom_venue %>
              <div class="  col-md-6 col-sm-6 col-xs-6">
                <div class="icon"><i class="fa fa-calendar"></i></div>
                <strong>Date</strong><br>
                <%= @game.custom_venue.date %>
                
              </div>
          <div class="col-md-6 col-sm-6 col-xs-6">
              <div class="icon"><i class="fa fa-clock-o"></i></div>
              <strong>Time</strong><br>
              <%= @game.custom_venue.time.strftime("%I:%M %p") %> - <%= @game.custom_venue.end_time.strftime("%I:%M %p") %> 

          </div>  
            <div class=" col-md-12">
              <div class="icon"><i class="fa fa-map-marker"></i></div>
              <address>
                  <strong>Location </strong><br>
                  <%= @game.custom_venue.address %><br>
                  <%= @game.custom_venue.city %><br>
                  <%= @game.custom_venue.state %><br>
                  <%= @game.custom_venue.zipcode %>
              </address>  
            </div>
             <div class="cancel-res">
                       <%= link_to "Cancel Venue", @game.custom_venue, method: :delete,
                        data: { confirm: "Are you sure you want to delete this Venue?" },
                        title: @game.custom_venue, class: "btn" %>
               </div>
          <% end %>  
        <% end %>  

    </div>
  </div><!-- end content -->
</div><!-- end card -->

<% if !@game.description.empty? %>
  <div class="card">
    <h4> Description</h4>
    <hr>
    <div class="content game-information-content">
      <p class="game-description"><%= @game.description %></p>
    </div>
  </div>
  
<% end %>

<div class="card">
  <h4>Game Settings</h4>
  <hr>
  <div class="content">

  <div class="row card-info-content">
    
    <div class="col-sm-4 col-xs-4 info info-invites"><div class="icon"><i class="fa fa-plus"></i></div><div class="description"><span class="title"> Invites</span><br><span class="value"> <%= get_invites_real_string(@game.invite_allowed) %> </span></div></div>

    <div class="col-sm-4 col-xs-4 info"><div class="icon"><i class="fa fa-user"></i></div><div class="description"><span class="title"> Admin</span><br><span class="value"> <%= link_to get_game_creator_name(@game), get_game_creator(@game) %> </span></div></div>
    

    <div class="col-sm-4 col-xs-4 info"><div class="icon"><i class="fa fa-calendar"></i></div><div class="description"><span class="title"> Created</span><br><span class="value"> <%= @game.created_at.strftime("%b/%d") %> </span></div></div>


    <div class="col-sm-4 col-xs-4 info"><div class="icon"><i class="fa fa-users"></i></div><div class="description"><span class="title"> Players Desired</span><br><span class="value"> <%= @game.number_players %> </span></div></div>

    <div class="col-sm-4 col-xs-4 info"><div class="icon"><i class="fa fa-eye"></i></div><div class="description"><span class="title"> View</span><br><span class="value"> <%= @game.public %> </span></div></div>

    <div class="col-sm-4 col-xs-4 info"><div class="icon"><i class="fa fa-clock-o"></i></div><div class="description"><span class="title"> Last Updated</span><br><span class="value"> <%= @game.updated_at.strftime("%b/%d") %> </span></div></div>

  </div>   

  </div>
</div><!-- End of card-->
