<!-- Nav tabs -->
<ul class="nav nav-tabs game-sd-tabs">
  <li class="active"><a href="#playing" data-toggle="tab">Confirmed <span class="badge"><%=@game.players_confirmed.count%></span></a></li>
  <li><a href="#invited" data-toggle="tab">Invited <span class="badge"><%=@game.players_invited.count%></span></a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="playing">
    <% if @game.players_confirmed.empty? %>
      <p>There is no active players yet.</p>
    <% else %>
      <%= render @game.players_confirmed %>
    <% end %>
  </div>
  <div class="tab-pane" id="invited">
    <% if @game.players_invited.empty? %>
      <p>There are no players invited yet.</p>
    <% else %>
      <%= render @game.players_invited %>
    <% end %>  
  </div>     
</div>

<% if logged_in? || (@game.is_player_involved?(current_user)) %>
    <%= render '/game_lines/new_game_line' %>
<% elsif signed_in? %>
    <%= render '/game_lines/add_yourself' %>
<% end %>