<% provide(:title, 'Create Venue') %>
<% provide(:include_menu, 'false') %>



<div class="row ngf">
  <div class="col-md-8 col-md-offset-2">
    <%= render 'shared/logo' %>

    <div style="text-align:center;margin-top:20px; margin-bottom:30px;">
      <span class="step finish"></span>
      <span class="step active"></span>
    </div>
    <div class="card">
      <div class="header">
        <h4>New Custom Venue</h4>
      </div>
      <div class="content">
          <%= form_for(@custom_venue) do |f| %>
              <div class="row">
                <%= render 'shared/error_messages', object: f.object %>
              </div>	

               <div class="row">
                 <div class="col-md-2 col-md-offset-1">
                   <%= f.label :address, 'Address' %>
                 </div>
                 <div class="col-md-8">
                   <%= f.text_field :address, placeholder: 'Required', class: "form-control" %>
                 </div>
               </div>

               <div class="row">
                 <div class="col-md-2 col-md-offset-1">
                   <%= f.label :city, 'City' %>
                 </div>
                 <div class="col-md-8">
                   <%= f.text_field :city, placeholder: 'Required', class: "form-control" %>
                 </div>
               </div>

               <div class="row">
                 <div class="col-md-2 col-md-offset-1">
                   <%= f.label :state, 'State' %>
                 </div>
                 <div class="col-md-8">
                   <%= f.text_field :state, placeholder: 'Required', class: "form-control" %>
                 </div>
               </div>

               <div class="row">
                 <div class="col-md-2 col-md-offset-1">
                   <%= f.label :zipcode, 'Zipcode' %>
                 </div>
                 <div class="col-md-8">
                   <%= f.text_field :zipcode, placeholder: 'Required', class: "form-control" %>
                 </div>
               </div>


              <hr>

              <div class="row">
                <div class="form-group">
                  <div class="col-md-2 col-md-offset-1">
                    <%= f.label :ground, "Ground" %>
                  </div>
                  <div class="col-md-8">
                    <%= f.select :ground, ['Grass','Artificial Grass', 'Turf', 'Indoor Court', 'Street'], {prompt: "Optional"}, { class: 'form-control'} %>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="form-group">
                  <div class="col-md-3">
                    <%= f.label :field_type, "Field Type" %>
                  </div>
                  <div class="col-md-8">
                    <%= f.select :field_type, ['Indoor','Outdoor'], {prompt: "Optional"}, { class: 'form-control'} %>
                  </div>
                </div>
              </div>    

               <div class="row">
                <div class="form-group">
                  <div class="col-md-3">
                    <%= f.label :number_players, "# Players" %>
                  </div>
                  <div class="col-md-8">
                    <%= f.select :number_players, [['5vs5','10'],['7vs7','14'],['11vs11','22']], {prompt: "Optional"}, { class: 'form-control'} %>
                  </div>
                </div>
              </div>  


              <hr>
               
                 <div class="row">
                   <div class="form-group">
                     <div class="col-md-2 col-md-offset-1">
                       <%= f.label :date, 'Date' %> 
                     </div>
                     <div class="col-md-8">
                          <%= f.text_field :date, data:{ provide:'datepicker', 'date-format' => 'dd-mm-yyyy', 'date-autoclose' => 'true' }, placeholder: "DD-MM-YYYY", class: "form-control" %>
                     </div>
                   </div>   
                 </div>
                 
                 <div class="row">
                   <div class="form-group">
                     <div class="col-md-2 col-md-offset-1">
                       <%= f.label :time, 'Time' %>
                     </div>
                     <div class="col-md-7">
                       <div class="col-md-6">
                           <%= f.time_select :time, {prompt: {hour: 'Choose hour', minute: 'Choose minute'}, minute_step: 30, ignore_date: true, ampm: true, start_hour: 6, time_separator: "</div><div class='col-md-6'>"}, {class: 'form-control'} %> 
                       </div>
                     </div>
                   </div>   
                 </div>

                 <div class="row">
                   <div class="form-group">
                     <div class="col-md-3">
                      <%= f.label :end_time, 'End Time' %>
                     </div>
                     <div class="col-md-7">
                       <div class="col-md-6">
                           <%= f.time_select :end_time, {prompt: {hour: 'Choose hour', minute: 'Choose minute'}, minute_step: 30, ignore_date: true, ampm: true, start_hour: 0, time_separator: "</div><div class='col-md-6'>"}, {class: 'form-control'} %>
                       </div>
                     </div>
                   </div>
                 </div>
              


                
                <%= hidden_field :game, params[:game] %>

                <hr>
               <div class="row">
                 <%= f.submit "Confirm Venue", class: "btn btn-large btn-primary btn-fill pull-right" %>
                   <%= link_to 'Cancel', url_for(:back), class: "btn btn-large btn-default pull-right" %> 
                 </div>
          <% end %>
      </div><!-- content -->
    </div><!-- card-->
  </div>
</div>





 
