<% provide(:title, 'My Games') %>
<% provide(:htitle, 'My Games') %>
<% provide(:secondaryTitle, 'Upcoming')%>
<%= render partial: "shared/menu_bar" %>

<div class="container games" style="margin-top:20px;">
  <% if !are_there_games?%>
    <%= render partial: "games/shared/no_games_message" %>
  <% else %>  

    
      <% if @games.empty? && @tomorrow_games.empty? && @today_games.empty? %>
      	<div>
      	  <P class="lead">No upcoming games to display.</P>
      	  <%= link_to 'New Game', new_game_path, class: "btn btn-large btn-primary btn-round btn-fill" %>
      	</div>
      <% else %>

      	<% if !@today_games.empty? %>
        <div class="row">
      		<%= render partial: "games/shared/games_cards", locals: {games: @today_games, subtitle: 'Today'} %>
        </div>  
      	<% end %>

      	<% if !@tomorrow_games.empty? %>
          <div class="row">
	      	  <%= render partial: "games/shared/games_cards", locals: {games: @tomorrow_games, subtitle: 'Tomorrow'} %>
          </div>
	      	<hr>
	    <% end %>  	

      	<% if !@games.empty? %>
        <div class="row">
	      	<%= render partial: "games/shared/games_cards", locals: {games: @games, subtitle: 'This Week'} %>
        </div>  
	      	<hr>
      	<% end %> 	

        
      <% end %>
 
  <% end %>  
</div>