<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
 <%= render 'layouts/shim' %>
</head>
<body > 
    <%= render 'layouts/header' %>
    
    <%= show_title_page_header(yield(:htitle), yield(:secondaryTitle)) %>

    <% flash.each do |message_type, message| %>       
      <div class="alert alert-<%= message_type %>">
        <div class="container">
          <%= message %>
        </div>   
      </div>
    <% end %>

    <%= yield %>

    <%= debug(params) if Rails.env.development? %>
    <%= Time.now if Rails.env.development? %>
    <br>
    <%= Date.today if Rails.env.development? %>
    <br>
    <br>
  
</body>
</html>
